/*Css para Botones de Accion*/
.contenedor-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #045959;
  border-top: 1px solid gray;
}

.contenedor-botones a {
  text-decoration: none;
  background-color: #045959;
  color: #fff;
  padding: 10px 20px;
}

.contenedor-botones a:hover {
  background-color: #afaeae2f;
}

.contenedor-botones button {
  background-color: #045959;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
}

.contenedor-botones button:hover {
  background-color: #afaeae2f;
}

button:first-child {
  margin-left: 0;
}

.selectStyle {
  background-color: #16261C;
  color: white;
}

.text {
  color: white;
}

.redimension1 {
  width: 500px;
  height: auto;
}

.redimension2 {
  max-width: 50%;
  max-height: 50%;
}

#sect1 {
  background-color: #16261C;
  color: white;
  background-size: 100%;
  background-size: cover;
}

#name_usuario {
  background-color: white;
}


.navbar-right {
  display: flex;
  align-items: center;
}

.my-input {
  background-color: black;
  color: white;
  border: 1px solid #16261C;
}

.textCenter {
  text-align: center;
}

.contenedor-general {
  padding-top: 84px;
}