/* Css para Botones de Accion */

.contenedor-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #045959;
  border-top: 1px solid gray;
  padding: 1px;
  z-index: 1; /* Para asegurar que el contenedor de botones esté por encima de otros elementos */
  margin-top: 50px;
}

.contenedor-botones a {
  text-decoration: none;
  background-color: #045959;
  color: #fff;
  padding: 10px 20px;
}

.contenedor-botones a:hover {
  background-color: #afaeae2f;
}

.contenedor-botones button {
  background-color: #045959;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
}

.contenedor-botones button:hover {
  background-color: #afaeae2f;
}

button:first-child {
  margin-left: 0;
}

.selectStyle {
  background-color: #16261C;
  color: white;
}

.text {
  color: white;
}

.redimension1 {
  width: 500px;
  height: auto;
}

.redimension2 {
  max-width: 50%;
  max-height: 50%;
}

#sect1 {
  background-color: #16261C;
  color: white;
  background-size: cover;
}

#name_usuario {
  background-color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.my-input {
  background-color: black;
  color: white;
  border: 1px solid #16261C;
}

.textCenter {
  text-align: center;
}

.contenedor-general {
  padding-top: 50px;
  margin-top: 60px; /* Añade margen superior para evitar que el contenido se solape con el contenedor de botones */
  font-size: 14px;
  font-weight: 500;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 475px) {
  .contenedor-general {
    margin-top: 100px;
  }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 535px) {

  .contenedor-general {
    padding-top: 80px;
  }

  .contenedor-botones{
    padding-top: 30px;
  }

}

