<app-menu-inicio></app-menu-inicio>
<div class="contenedor-general">
    <form [formGroup]="control_vistas">
        <div *ngIf="rolVacations" class="contenedor-botones">
            <a (onclick)="goToMenuBotones()" routerLink="/inicio" href="#">INICIO</a>
            <div>
                <button *ngIf="rolVacations" (click)="menuViajes2(1)" type="button"
                    [ngClass]="{ 'activo': isActive(1) }">INGRESAR VIAJES</button>
                <button *ngIf="rolVacations" (click)="menuViajes2(2)" type="button"
                    [ngClass]="{ 'activo': isActive(2) }">REEMBOLSO VIAJES</button>
            </div>
        </div>
        <div id="router-outlet">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="nombreVentana === 'INGRESO-VIAJES'">
            <app-agregar-viaje></app-agregar-viaje>
        </div>
        <div *ngIf="nombreVentana === 'REPORTE-PERSONAL'">
            <app-listarviajes-reporte-general-personal></app-listarviajes-reporte-general-personal>
        </div>
    </form>
</div>