<app-menu-inicio></app-menu-inicio>
<div class="contenedor-general">
<form [formGroup]="control_vistas">    
  <div class="wrapper">    
      <div  class="body" >                              
          <div>    
              <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #16261C;"> 
                  <div class="navbar-left">  
                      <a class="nav-item nav-link active" (onclick)="goToMenuBotones()" routerLink="/inicio" href="#">HOME</a>
                  </div>                   
                  <div class="navbar-center">
                      <div *ngIf="rolVacations" class="btn-group-horizontal" role="group" aria-label="Vertical button group">
                          <button *ngIf="rolVacations" (click)="menuViajes2(1)" type="button" class="btn btn-primary">1.INGRESO VIAJES</button>
                          <button *ngIf="rolVacations" (click)="menuViajes2(2)" type="button" class="btn btn-primary">2.REEMBOLOS DE VIAJES</button>
                      </div>                      
                  </div>                       
              </nav>
          </div>
      </div>    
  </div>
  <div  id="router-outlet">
      <router-outlet></router-outlet>
  </div>
  <div *ngIf="nombreVentana === 'INGRESO-VIAJES'" >
      <app-agregar-viaje></app-agregar-viaje>
  </div>    
  <div *ngIf="nombreVentana === 'REPORTE-PERSONAL'" >
    <app-listarviajes-reporte-general-personal></app-listarviajes-reporte-general-personal>
  </div>
</form>
</div>