.selectStyle{
  background-color: #16261C;
  color: white;
}
.text{
  color: white;
}
.redimension1 {
  width:500px;
  height:auto;
}

.redimension2 {
  max-width:50%;
  max-height:50%;
}

#sect1 { 
  background-color: #16261C;
  color: white;
  background-size:100%;  
  background-size: cover;  
}