@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

.img {
    height: 75px;
    width: auto;
}

.p-center {
    padding: 1px;
    margin-left: 50px;
}

.h-r {
    padding-right: 50px;
}

.h-c {
    align-self: center;
    padding-bottom: 15px;
}
.container-rol {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.container-data {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
}

.separator {
    border: solid 3px;
}