<div>
<nav>
      <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li class="l">
          <select [(ngModel)]="anioSeleccionado" (ngModelChange)="filtrarInformacion(anioSeleccionado, mesSeleccionado)">
            <option selected>Selecciona un año</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <!-- Agregar más opciones si se requiere -->
          </select>
        </li>
        <li>
          <select [(ngModel)]="mesSeleccionado" (ngModelChange)="filtrarInformacion(anioSeleccionado, mesSeleccionado)">
            <option selected>Selecciona un mes</option>
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </li>
      </ul>
    </nav>
  </div>
<div class="contenedor-hoja" id="html-a-exportar" >
<div>
    <img class="img" src="./assets/salesland_nf.png" alt="Logo Salesland">
    <div class="container-rol">
        <p class="p-center">SALESLAND ECUADOR S.A.S.</p>
        <h1 class="h-r" *ngIf="listaFiltrada.length > 0">{{mes}} {{anio}}</h1>
    </div>
    <hr class="separator">
</div>
<div class="container-data">
    <H2 class="h-c">ROL DE PAGOS INDIVIDUAL</H2>
    <ul class="font-bold">NOMBRE: {{nombre}} {{apellido}}</ul>
    <ul class="font-bold">CEDULA: {{cedula}}</ul>
    <ul class="font-bold">CARGO: {{cargo}}</ul>
    <ul class="font-bold">FECHA INGRESO: {{inicioContrato}}</ul>
</div>
<hr class="separator"> 

<div *ngIf="listaFiltrada.length > 0">
    <table class="tabla-encabezado">
        <tbody>
          <tr>
            <td>Sueldo Base: {{sueldo_base}}</td>
            <td>Número de recargo nocturno: {{numero_recargo_nocturno}}</td>
          </tr>
          <tr>
            <td>Días trabajados: {{dias_trabajados}}</td>
            <td>Días de vacación tomados: {{dias_vacacion_tomados}}</td>
          </tr>
          <tr>
            <td>Número horas extraordinarias 100%: {{numero_horas_extraordinarias}}</td>
            <td>Días de enfermedad: {{dias_enfermedad}}</td>
          </tr>
          <tr>
            <td>Número horas complementarias 50%: {{numero_horas_complementarias}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
<div *ngIf="listaFiltrada.length > 0">
    <table class="tabla-head">
        
        <thead class="color-gris">
          <tr>
            <th colspan="2">INGRESOS</th>
            <th  colspan="2" class="table-head">DESCUENTOS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-ingresos-descuentos">Sueldo:</td>
            <td class="table-ingresos-descuentos">$ &nbsp; {{sueldo_base}}</td>
            <td class="table-ingresos-descuentos">Aporte IESS:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Valor horas complementarias 50%:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Anticipo sueldo:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Valor Horas extraordinarias 100%:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Impuesto a la Renta:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Subsidio Enfermedad:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Préstamo Hipotecario IESS:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Comisiones:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Préstamo Quirografario:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Movilización:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Extensión cónyuge:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Bono Plan celular:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Extensión cónyuge mes anterior:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Décimo tercera remuneración mensual:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Sobregiro:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Décimo cuarta remuneración mensual:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Seguro movil:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td class="table-ingresos-descuentos">Fondos de reserva Mensual:</td>
            <td class="table-ingresos-descuentos">-</td>
            <td class="table-ingresos-descuentos">Copago seguro:</td>
            <td class="table-ingresos-descuentos">-</td>
          </tr>
          <tr>
            <td colspan="2" class="table-results">Total Ingresos: -</td>
            <td colspan="2" class="table-results">Total Descuentos: -</td>
          </tr>
        </tbody>
        <tfoot class="foot-center">
            <tr>
              <td colspan="4">Neto a Recibir: -</td>
            </tr>
          </tfoot>
      </table>
</div>
</div>
<div class="btn-center" *ngIf="listaFiltrada.length > 0">
    <button (click)="generatePDF()" class="pdf-generate-btn">PDF</button>
</div>
