<div>
    <img class="img" src="./assets/salesland_nf.png" alt="Logo Salesland">
    <div class="container-rol">
        <p class="p-center">SALESLAND ECUADOR S.A.S.</p>
        <h1 class="h-r">Fecha</h1>
    </div>
    <hr class="separator">
</div>
<div class="container-data">
    <H2 class="h-c">ROL DE PAGOS INDIVIDUAL</H2>
    <ul><h5>NOMBRE:</h5>  {{nombre}} {{apellido}}</ul>
    <ul>CEDULA: {{cedula}}</ul>
    <ul>CARGO: {{cargo}}</ul>
    <ul>FECHA INGRESO: {{inicioContrato}}</ul>
</div>
<hr class="separator">