<header class="header">
    <h1 class="header-title">Normas Generales</h1>
</header>
<div class="container">
    <div class="content">
        <p class="intro">En Salesland Ecuador, nos comprometemos a mantener un ambiente de trabajo seguro, respetuoso y
            productivo. Todos los empleados deben cumplir con las siguientes normas:</p>
        <div class="rule">
            <h2 class="rule-title">1. Cumplimiento de horarios</h2>
            <p class="rule-description">Los empleados deben cumplir con los horarios establecidos y registrar su
                asistencia de manera adecuada.</p>
        </div>
        <div class="rule">
            <h2 class="rule-title">2. Vestimenta</h2>
            <p class="rule-description">Se debe mantener una vestimenta profesional acorde a las políticas de la
                empresa. Se prohíbe el uso de vestimenta inapropiada o ofensiva.</p>
        </div>
        <div class="rule">
            <h2 class="rule-title">3. Conducta</h2>
            <p class="rule-description">Se espera que todos los empleados mantengan un comportamiento respetuoso hacia
                sus compañeros de trabajo, clientes y proveedores.</p>
        </div>
    </div>
</div>


<!-- <div class="container">
    <h1 class="title">Normas Generales</h1>
    
    <div class="reglamento-card" (mouseover)="onCardHover($event)" (mouseout)="onCardHover($event)">
      <h2 class="reglamento-title">1. Cumplimiento de horarios</h2>
      <p class="reglamento-description">Los empleados deben cumplir con los horarios establecidos y registrar su
        asistencia de manera adecuada.</p>
    </div>
    
    <div class="reglamento-card" (mouseover)="onCardHover($event)" (mouseout)="onCardHover($event)">
      <h2 class="reglamento-title">2. Vestimenta</h2>
      <p class="reglamento-description">Se debe mantener una vestimenta profesional acorde a las políticas de la
        empresa. Se prohíbe el uso de vestimenta inapropiada o ofensiva.</p>
    </div>
    
    <div class="reglamento-card" (mouseover)="onCardHover($event)" (mouseout)="onCardHover($event)">
      <h2 class="reglamento-title">3. Conducta</h2>
      <p class="reglamento-description">Se espera que todos los empleados mantengan un comportamiento respetuoso hacia
        sus compañeros de trabajo, clientes y proveedores.</p>
    </div>
  </div>

   -->
  