body {
  background-color: #fff;
  color: #045959;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #045959;
  text-align: center;
  padding: 20px;
}

.header-title {
  color: #fff;
  margin: 0;
}

.content {
  text-align: center;
}

.intro {
  margin-bottom: 30px;
}

.rule {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
}

.rule-title {
  color: #045959;
  margin-top: 0;
}

.rule-description {
  color: #045959;
  margin-bottom: 0;
}

.rule-description:hover {
  color: #045959;
}

.rule:hover {
  background-color: #a0a0a077;
  color: #045959;
  cursor: pointer;
}

.rule:hover .rule-title {
  color: #045959;
}


/* ------------------------ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
}

.reglamento-card {
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.reglamento-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reglamento-title {
  font-size: 18px;
  color: #045959;
  margin-bottom: 10px;
}

.reglamento-description {
  font-size: 14px;
  color: #045959;
  line-height: 1.5;
}


.reglamento-card:hover .reglamento-title {
  color: #045959;
}

.reglamento-card:hover .reglamento-description {
  color: #045959;
}