<div class="card-align-politics">

    <h2 class="h2-ReglamentoTitle">Normas Generales</h2>
    <p>En Salesland Ecuador, nos comprometemos a mantener un ambiente de trabajo seguro, respetuoso y productivo. Todos los empleados deben cumplir con las siguientes normas:</p>

    <u class="u-ReglamentoTitle ">1. Cumplimiento de horarios:</u>
    <p class="u-ReglamentoTitle ">Los empleados deben cumplir con los horarios establecidos y registrar su asistencia de manera adecuada.</p>

    <u class="u-ReglamentoTitle ">2. Vestimenta:</u>
    <p class="u-ReglamentoTitle ">Se debe mantener una vestimenta profesional acorde a las políticas de la empresa. Se prohíbe el uso de vestimenta inapropiada o ofensiva.</p>

    <u class="u-ReglamentoTitle ">3. Conducta:</u>
    <p class="u-ReglamentoTitle ">Se espera que todos los empleados mantengan un comportamiento respetuoso hacia sus compañeros de trabajo, clientes y proveedores.</p>
          
</div>
