.h2-ReglamentoTitle {
    font-size: 15px; /* Ajusta el tamaño según tus necesidades */
    color: #045959;
  }
  
  .u-ReglamentoTitle {
    font-size: 14px; /* Ajusta el tamaño según tus necesidades */
  }