<form [formGroup]="formularioDeviaje">
    <div class="card">
        <!-- <div class="card-body">
            <div *ngIf="false" class="mb-3">
                <label for="" class="form-label">MOTIVO</label>
                <input type="text" class="form-control" name="motivo" formControlName="motivo" id="motivo"
                    aria-describedby="helpId" placeholder="ESCRIBA SU MOTIVO">
            </div>
        </div> -->
        <div class="card-body">
            <h2> LISTADO REEMBOLSOS </h2>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Lugar</th>
                            <th scope="col">Fecha Reembolso</th>
                            <!-- <th scope="col">Nombre</th> -->
                            <th scope="col">Cedula</th>
                            <th scope="col">Inicio Viaje</th>
                            <th scope="col">Fin Viaje</th>
                            <!-- <th scope="col">DURACION</th> -->
                            <th scope="col">Partida</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha Gasto</th>
                            <th scope="col">Moneda</th>
                            <th scope="col">Nro. Comprobantes</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let viaje of Viaje | paginate: {id: 'pagination1', itemsPerPage: 5, currentPage: pP, totalItems: totalP }; let iControl=index"
                            class="fila">
                            <td>{{viaje.id_viaje}}</td>
                            <td>{{viaje.lugar}}</td>
                            <td>{{viaje.fecha_reembolso}}</td>
                            <!-- <td>{{viaje.nombre}}</td> -->
                            <td>{{viaje.cedula}}</td>
                            <td>{{viaje.fecha_viaje_inicio}}</td>
                            <td>{{viaje.fecha_viaje_fin}}</td>
                            <!-- <td>{{viaje.duracion}}</td> -->
                            <td>{{viaje.punto_partida}}</td>
                            <td>{{viaje.punto_destino}}</td>
                            <td>{{viaje.fecha_gasto}}</td>
                            <td>{{viaje.moneda}}</td>
                            <td>{{viaje.cantidad_comprobantes}}</td>
                            <td>${{viaje.importe}}</td>
                        </tr>

                    </tbody>
                </table>
                <pagination-controls id="pagination1" (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="contenedor-boton">
        <a *ngIf="false" class="btn" routerLink="/agregar-candidato/">AGREGAR NUEVO CANDIDATO</a>
        <a class="btn" (click)="exportToCSV()" role="button">Descargar CSV</a>
    </div>
</form>