h5 {
    text-align: center;
}

.card-body table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .card-body table th,
  .card-body table td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
  }

  .card-body table th {
    cursor: pointer;
  }

  .card-body table thead th {
    background-color: #045959;
    color: #fff;
    font-weight: 400;
  }
  
  .card-body table tbody tr {
    border-bottom: 1px solid #045959;
  }
  
  .card-body table tbody tr:hover {
    background-color: #c2bdbda8;
    color: #fff;
  }
  
  .card-body table tbody td {
    color: black;

  }
  
  .card-body table tfoot th {
    background-color: #045959;
    color: #fff;
  }
  
  /* Estilos para la etiqueta <pagination-controls> */
#pagination1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination-previous,
  .pagination-next,
  .pagination-page {
    display: inline-block;
    padding: 6px 12px;
    background-color: #045959;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-previous:hover,
  .pagination-next:hover,
  .pagination-page:hover {
    background-color: #038c8c;
  }
  
  .pagination-disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .pagination-page.is-active {
    background-color: #038c8c;
  }
  
  .pagination-info {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: #777;
  }

  .contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .btn {
    background-color: #045959;
    color: #fff;
    /* Establecer el tamaño mínimo del botón */
    max-width: 150px;
    /* Otros estilos para el botón */
  }
  
  .btn:hover {
    background-color: #fff;
    color: #045959;
    /* Otros estilos para el hover */
    border: 1px solid #045959;
  }

  .sort-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-left: 5px;
    background-color: white;
  }
  
  .sort-icon.asc::before {
    content: '\25b2'; /* Triángulo hacia arriba */
  }
  
  .sort-icon.desc::before {
    content: '\25bc'; /* Triángulo hacia abajo */
  }