<div class="card">
  <form [formGroup]="formularioDeViaje" (ngSubmit)="enviarDatos()">
    <div class="add-datos">
      <div class="contenedor-titulo">
        <h5>
          INFORMACIÓN DE VIAJE
        </h5>
      </div>
      <div class="contenedor-add-datos">
        <div class="contenedor-fila">
          <div class="card-body etiqueta">
            <label for="" class="form-label">FECHA REEMBOLSO</label>
            <input type="text" class="form-control" name="fecha_reembolso" formControlName="fecha_reembolso"
              id="fecha_reembolso" aria-describedby="fecha_reembolso" placeholder="0">
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">LUGAR</label>
            <input type="text" class="form-control" name="lugar" formControlName="lugar" id="lugar"
              aria-describedby="lugar" placeholder="QUITO" required>
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">PUNTO DE PARTIDA</label>
            <input type="text" class="form-control" name="punto_partida" formControlName="punto_partida"
              id="punto_partida" aria-describedby="dias_viaje" placeholder="Provincia,Ciudad">
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">PUNTO DE DESTINO</label>
            <input type="text" class="form-control " name="punto_destino" formControlName="punto_destino"
              id="punto_destino" aria-describedby="dias_viaje" placeholder="Provincia,Ciudad">
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">IMPORTE TOTAL</label>
            <input type="text inputRight" class="form-control" name="importe" formControlName="importe" id="importe"
              aria-describedby="importe" placeholder="0.00" required>
          </div>
        </div>

      </div>
    </div>  
    <div class="add-datos">
      <div class="contenedor-titulo">
        <h5>
          FECHA REEMBOLSO Y FECHA VIAJE
        </h5>
      </div>      
      <div class="contenedor-add-datos">        
        <div class="contenedor-fila">          
          <div class="card-body etiqueta">
            <label for="" class="form-label">FECHA GASTO</label>            
            <input type="date" formControlName="fecha_gasto">                  
       
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">DIAS DE VIAJE</label>
            <input type="text" class="form-control" name="dias_viaje" formControlName="dias_viaje" id="dias_viaje"
              aria-describedby="dias_viaje" placeholder="0">
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">FECHA INICIO
              <div class="icon-calendar">
                <img src="./assets/calendar-outline.svg" (click)="toggleCalendar2()" alt="icono calendario">
              </div>

              <div class="row" *ngIf="showCalendar2">
                <ngb-datepicker class="text etiqueta" #dp (dateSelect)="onDateSelection1($event)" [displayMonths]="2"
                  [dayTemplate]="t" outsideDays="hidden">
                </ngb-datepicker>
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </label>
            <input type="text" class="form-control" name="fecha_viaje_inicio" formControlName="fecha_viaje_inicio"
              id="fecha_viaje_inicio" aria-describedby="helpId" placeholder="0">
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">FECHA FIN</label>
            <input type="text" class="form-control" name="fecha_viaje_fin" formControlName="fecha_viaje_fin"
              id="fecha_viaje_fin " aria-describedby="helpId" placeholder="0">
          </div>
        </div>
        <div class="contenedor-fila-2">
          <div class="card-body etiqueta">
            <label for="" class="form-label">Nro. COMPROBANTES SELECCIONADOS</label>
            <input type="text" class="form-control-archivos inputRight" name="cantidad_comprobantes"
              formControlName="cantidad_comprobantes" id="cantidad_comprobantes" aria-describedby="helpId"
              placeholder="0">
          </div>
          <div class="card-body etiqueta">
            <label for="" class="form-label">AGREGAR COMPROBANTES</label>
            <div class="card-body" role="group" aria-label="Button group name"
              style="align-self: ceter; text-align: center; align-items: center; align-content: center;">
              <div class="file-input-container">
                <input type="file" id="fileInput" multiple (change)="onFileSelectTypesFiles($event)"
                  accept=".rar,.pdf,image/*">
                <label for="fileInput" class="file-input-label">
                  <span>Seleccionar archivos</span>
                </label>
              </div>
              <p></p><label for="" class="form-label">Ingrese los archivos de reembolso de gastos </label>
            </div>
          </div>
          <div class="card-body" role="group" aria-label="Button group name"
            style="align-self: ceter; text-align: center; align-items: center; align-content: center;">
            <button type="submit" class="btn btn-success" [disabled]="btnIngresar">AGREGAR</button>
          </div>
        </div>

      </div>
    </div>   
  </form>    
  <form [formGroup]="formularioGastos">    
    <div formArrayName="gastos">      
      <div *ngFor="let gasto of getGastosControls(); let i = index;" [formGroupName]="i">
        <select formControlName="tipo" [value]="tipoOptions[0]">
          <option *ngFor="let option of tipoOptions" [value]="option">{{ option }}</option>
        </select>
        <input formControlName="cedula" placeholder="cedula">
        <input formControlName="razon_social" placeholder="razón social">
        <input formControlName="n_documento" placeholder="N# documento">
        <input type="date" formControlName="fechaEmision">
        <input type="number" formControlName="base_imponible" placeholder="Base imponible" (input)="onGastoValueChange(i)">
        <input type="number" formControlName="cero_base_imponible" placeholder="0% Base imponible" (input)="onGastoValueChange(i)">
        <input type="number" formControlName="iva" placeholder="iva" [value]="gasto.get('iva')?.value | number: '1.2-2'">
        <input type="number" formControlName="servicio10" placeholder="Servicio 10%" (input)="onGastoValueChange(i)">
        <input type="number" formControlName="importe_sinFact" placeholder="importe sin facturas" (input)="onGastoValueChange(i)">
        <input type="number" formControlName="total" placeholder="Total" [value]="gasto.get('total')?.value | number: '1.2-2'">
        <button (click)="eliminarGasto(i)">Eliminar</button>
      </div>
    </div>
    <button (click)="agregarGasto()">Agregar Detalle</button>
  </form> 
</div>
