@import '~@fortawesome/fontawesome-free/css/all.css';

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
}

.custom-day.focused {
  background-color: #fff;
}

.custom-day.range,
.custom-day:hover {
  background-color: #045959;
  color: black;
}

.custom-day.faded {
  background-color: #045959;
}

.icon-calendar {
  display: flex;
  margin-left: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.contenedor-fila-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.custom-day2 {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day2.selected  {
  background-color: #045959;
  color: black;
}

.custom-day2.range2,
.custom-day2:hover {
  background-color: #045959;
  color: #16261C;
}


.custom-day2.faded2 {
  background-color: rgb(243, 238, 238);
}

.card{
  background-color: #fff(243, 238, 238);
  color: white;
  border: none;
}

td {
  border: none;
}

tbody {
  border: none;
}

tr {
  border: none;
}

.add-datos {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 25px; /* Ajusta el valor según tus preferencias */
  box-sizing: border-box;
  padding: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315); /* Ajusta los valores según tus preferencias */
  margin: 10px;
  font-size: 14px;
}

.contenedor-add-datos {
  display: flex;
  flex-direction: column;
}

.contenedor-fila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor-fila-2 {
  display: flex;
  flex-direction: row;
}

.etiqueta{
  color: white;
  text-align: center;
  align-items: center; 
  align-self: center;
}

.inputRight{  
  text-align: right;
}

.text{
  color: white;
  text-align: center;  
  align-self: center;
}
.text2{
  background-color: white;
  color: #16261C;
  text-align: center;
  align-items: center; 
  align-self: center;
}
.calendar{
  width: 490px;
  height: 315px;  
  background-color: #16261C;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .ngb-dp-months {
  background-color: #fff;
  color: #045959;
}

::ng-deep .ngb-dp2-months {
  background-color: #fff;
  color: #045959;
}

/* Componente CSS */
.input-line {
  display: flex;
  align-items: center;
}

.form-label {
  display: flex;
  justify-content: center;
  color: #045959;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
}

.form-control {
  flex: 1;
  border: none;
  border-bottom: 2px solid #045959;
  padding: 5px;
  background-color: transparent;
  color: #045959;
  transition: border-color 0.3s;
  width: 100%;
}

.form-control-archivos{
  flex: 1;
  border: none;
  border-bottom: 2px solid #045959;
  padding: 5px;
  background-color: transparent;
  color: #045959;
  transition: border-color 0.3s;
  width: 25%;
}

.form-control-archivos:hover,
.form-control-archivos:focus {
  outline: none;
  border-color: #079292;
}

.form-control:hover,
.form-control:focus {
  outline: none;
  border-color: #079292;
}
/* Componente CSS */
.file-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.file-input-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #045959;
  color: #fff;
  border: 2px solid #045959;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.file-input-label:hover {
  background-color: #fff;
  color: #045959;
  border-color: #079292;
}

.file-input-label span {
  display: inline-block;
  margin-right: 10px;
}

/* Ocultar el input[type="file"] */
input[type="file"] {
  display: none;
}

.form-select {
  background-color: #045959;
  color: #fff;
  border-color: #045959;
}

.form-select:hover {
  background-color: #045959;
  color: #fff;
  border-color: #045959;
}

.form-select:focus {
  background-color: #045959;
  color: #fff;
  border-color: #045959;
  box-shadow: 0 0 0 0.25rem rgba(4, 89, 89, 0.25);
}

button {
  background-color: #045959;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Ajustar estilos para .calendar */
  .calendar {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  /* Ajustar estilos para .add-datos */
  .add-datos {
    padding: 15px;
    margin: 5px;
  }
}

h5 {
  text-align: center;
  color: black;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 880px) {

.contenedor-fila{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-body {
  width: 100%;
}
}


.button-gastos{
  background-color: #045959;
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button-gastos img{
  width: 25px;
}

.button-gastos:hover {
  background-color: #747474b7;
  border: 1px solid #fff;
}

.contenedor-buttons-gastos {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  color: black;
}

.table-wrapper table {
  width: 100%;
  white-space: nowrap;
  border: 1px solid gray;
}

.table-wrapper tr {
  border: 1px solid gray;
}

.table-wrapper td {
  border: 1px solid gray;
}

.table-wrapper input{
  width: 100px;
  border: none;
  outline: none;
}

.table-wrapper input[type="number"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.table-wrapper input[type="number"]::-webkit-inner-spin-button,
.table-wrapper input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-wrapper select {
  width: 110px;
  border: none;
}

.table-wrapper th {
text-align: center;
border: 1px solid gray;
background-color: #045959;
color: #fff;
font-size: 14px;
font-weight: 400;
}

.button-fila {
  background-color: #FF0000;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button-fila:hover {
  background-color: #fff;
  border: 1px solid #045959;
  color: #045959;
}

.invalid-field {
  border: 1px solid red;
}
