<div class="card" >
  <h1 style="align-self: center; background-color: white; color: #16261C;">
    AGREGAR REEMBOLSO DE VIAJE
  </h1>     
<form [formGroup]="formularioDeViaje" (ngSubmit)="enviarDatos()">
  <div class="card-body">    
    <div class="table-responsive table-bordered table-striped">
      <table class="table table-primary">
        <thead>              
        </thead>
        <tbody>
            <tr>
              <TD colspan="4">
                <h2 style="text-align: center;">
                  DATOS PERSONALES
                </h2>
              </TD>
            </tr>
            <tr>
              <TD>
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">FECHA REEMBOLSO</label>
                    <input type="text"
                      class="form-control" name="fecha_reembolso" formControlName="fecha_reembolso" id="fecha_reembolso" aria-describedby="fecha_reembolso" placeholder="0" >                  </div>
                </div>                   
              </TD>
              <TD>
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">LUGAR</label>
                    <input type="text"
                      class="form-control" name="lugar" formControlName="lugar" id="lugar" aria-describedby="lugar" placeholder="15">
                  </div>
                </div>                      
              </TD>              
              <TD> 
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">NOMBRE</label>
                    <input type="text"
                      class="form-control" name="nombre" formControlName="nombre" id="nombre" aria-describedby="nombre" placeholder="0">
                  </div>
                </div>                  
              </TD>
              <TD> 
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">CEDULA</label>
                    <input type="text"
                      class="form-control" name="cedula" formControlName="cedula" id="cedula" aria-describedby="cedula" placeholder="0">
                  </div>
                </div>                  
              </TD>
            </tr>  
            <tr>
              <TD colspan="4">
                <h2 style="text-align: center;">
                  INFORMACIÓN VIAJE
                </h2>
              </TD>
            </tr>
            <tr>
              <TD>
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">DURACIÓN</label>
                    <input type="text"
                      class="form-control" name="duracion" formControlName="duracion" id="duracion" aria-describedby="duracion" placeholder="0">
                  </div>
                </div>                   
              </TD>
              <TD>
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">MONEDA</label>
                    <input type="text"
                      class="form-control" name="moneda" formControlName="moneda" id="moneda" aria-describedby="helpId" placeholder="$">
                  </div>
                </div>                      
              </TD>              
              <TD> 
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">IMPORTE TOTAL</label>
                    <input type="text"
                      class="form-control" name="importe" formControlName="importe" id="importe" aria-describedby="importe" placeholder="$100">
                  </div>
                </div>                  
              </TD>
              <TD> 
                <div class="card-body etiqueta">
                  <div class="mb-3">
                    <label for="" class="form-label">CANTIDAD DE COMPROBANTES</label>
                    <input type="text"
                      class="form-control" name="cantidad_comprobantes" formControlName="cantidad_comprobantes" id="cantidad_comprobantes" aria-describedby="helpId" placeholder="0">
                  </div>
                </div>                  
              </TD>
            </tr>   
            <tr>
              <td colspan="4">
                <div class="card-body" role="group" aria-label="Button group name" style="align-self: ceter; text-align: center; align-items: center; align-content: center;"  >
                  <button type="submit" class="btn btn-success" [disabled]="btnIngresar" >AGREGAR</button>
                </div>
              </td>              
            </tr>  
            <tr>
              <td colspan="4">
                <div class="card-body" role="group" aria-label="Button group name" style="align-self: ceter; text-align: center; align-items: center; align-content: center;">
                  <input type="file" multiple (change)="onFileSelectTypesFiles($event)" accept=".rar,.pdf,image/*">
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>    
  </div>   
  <div class="card-body" >      
    <div class="table-responsive">
      <table class="table table-primary center" >      
        <thead>
          <TD colspan="1">
            <h2 style="text-align: center;">
              FECHA GASTO
            </h2>            
          </TD>
          <TD colspan="1">
            <h2 style="text-align: center;">
              FECHA INICIO-FIN VIAJE
            </h2>            
          </TD>
        </thead>    
        <tbody>         
          <TD>
            <TR>
              <TD>
                <div class="card-body" >
                  <div class="mb-3 etiqueta">
                    <label for="" class="form-label">FECHA GASTO</label>
                    <input type="text"
                      class="form-control" name="fecha_gasto" formControlName="fecha_gasto" id="fecha_gasto" aria-describedby="helpId" placeholder="0">
                  </div> 
                </div>                    
              </TD>  
              <TD>  
                <div class="card-body" style="width: 490px; height: 315px;" >
                  <ngb-datepicker class="text etiqueta" #dp2 (dateSelect)="onDateSelection2($event)" [displayMonths]="1" [dayTemplate]="t2" outsideDays="hidden" >
                  </ngb-datepicker> 
                  <ng-template #t2 let-date2 let-focused2="focused2">
                    <span
                      class="custom-day"                      
                      [class.focused2]="focused2"     
                      [class.range2]="isRange2(date2)" 
                      [class.faded2]="isHovered2(date2) || isInside2(date2)"                            
                      (mouseenter)="hoveredDate2 = date2"
                      (mouseleave)="hoveredDate2 = null"
                    >
                        {{ date2.day }}    
                    </span>
                  </ng-template>
                </div>                
              </TD>
            </TR>
          </TD>          
          <TD>
            <TR>
              <TD>
                <div class="card-body" >
                  <div class="mb-3 etiqueta">
                    <label for="" class="form-label">FECHA INICIO</label>
                    <input type="text"
                      class="form-control" name="fecha_viaje_inicio" formControlName="fecha_viaje_inicio" id="fecha_viaje_inicio" aria-describedby="helpId" placeholder="0">
                  </div>      
                  <div class="mb-3 etiqueta">
                    <label for="" class="form-label">FECHA FIN</label>
                    <input type="text"
                      class="form-control" name="fecha_viaje_fin" formControlName="fecha_viaje_fin" id="fecha_viaje_fin " aria-describedby="helpId" placeholder="0">
                  </div> 
                </div>                    
              </TD>  
              <TD>  
                <div class="card-body" style="width: 490px; height: 315px;" >
                  <ngb-datepicker  class="text etiqueta" #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" >
                  </ngb-datepicker> 
                  <ng-template #t let-date let-focused="focused">
                    <span
                      class="custom-day"
                      [class.weekend]="esFinDeSemana(date)"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null"
                    >
                        {{ date.day }}    
                    </span>
                  </ng-template>
                </div>                
              </TD>
            </TR>
          </TD>
        </tbody>
      </table>
    </div>
  </div>
</form>
</div>

