<div class="card">
    <div class="card-header">
        <a class="btn btn-success" routerLink="/agregar-cargo/" >AGREGAR NUEVO CARGO</a>
        <a class="btn btn-warning"(click)="exportToCSV()" role="button">EXPORT  TO CSV</a>
    </div>
    <div class="card-body">
        <h1> Lista de Cargos </h1>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID CARGO</th>
                        <th scope="col">NOMBRE CARGO</th>                        
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cargo of Cargos; let iControl=index" class="">
                        <td scope="row">{{cargo.id_cargo}}</td>
                        <td>{{cargo.nombre_cargo}}</td>                        
                        <td>
                            <a class="btn btn-info" routerLink="/editar-cargo/{{cargo.id_cargo}}" >EDITAR</a>
                            |
                            <a class="btn btn-danger"(click)="borrarRegistro(cargo.id_cargo,iControl)" role="button">BORRAR</a>                     
                    </tr>
                    
                </tbody>
            </table>
        </div>        
    </div>    
</div>

