<div class="card-body">    
  <div class="table-responsive table-bordered table-striped">
    <form [formGroup]="registrationForm">
      <table class="table table-primary">
        <tbody>
          <tr>
            <td>
              <tr>
                <td><div class="card-body ">
                  <div class="mb-3">
                    <label for="" class="form-label">VACACIONES ACUMULADAS</label>
                    <input type="text"
                      class="form-control" name="vaca_acum" formControlName="vaca_acum" id="vaca_acum" aria-describedby="helpId" placeholder="15">
                  </div>
                </div></td>
                <td><div class="card-body ">
                  <div class="mb-3">
                    <label for="" class="form-label">DÍAS DISPONIBLES</label>
                    <input type="text"
                      class="form-control" name="dias_dispo" formControlName="dias_dispo" id="dias_dispo" aria-describedby="helpId" placeholder="10">
                  </div>
                </div></td>
                <td><div class="card-body ">
                  <div class="mb-3">
                    <label for="" class="form-label">VACACIONES TOMADAS</label>
                    <input type="text"
                      class="form-control" name="vacac_tom" formControlName="vacac_tom" id="vacac_tom" aria-describedby="helpId" placeholder="10">
                  </div>
                </div></td>
                <td><div class="card-body ">
                    <div class="mb-3">
                      <label for="" class="form-label">VACACIONES POR TOMAR APROBADAS</label>
                      <input type="text"
                        class="form-control" name="vaca_apro" formControlName="vaca_apro" id="vaca_apro" aria-describedby="helpId" placeholder="10">
                    </div>
                </div></td>
                
              </tr>
              <tr>
                <td colspan="4" style="align-content: center; align-items: center; text-align: center;">GRÁFICO</td>
              </tr> 
            </td>
              <td><div class="card-body ">
                <div class="mb-3">
                  <select 
                    class="custom-select mb-3" 
                    (change)="changeTienda($event)"
                    formControlName="nombreTienda"
                    (ngModelOptions)="{standalone: true}" 
                  >
                    <option value="">ESCOGE LA TIENDA</option>
                    <option *ngFor="let dato of datos" >{{ dato }}</option>
                  </select>
                  <div class="d-grid gap-2 mb-3" >
                    <sup>*</sup>ESCOJA TIENDA
                  </div>
                </div>
            </div></td>
          </tr>
          <tr>
            <td><div class="card-body ">
              <div class="mb-3">
                <select 
                  class="custom-select mb-3" 
                  (change)="changeTienda($event)"
                  formControlName="nombreTienda"
                  (ngModelOptions)="{standalone: true}" 
                >
                  <option value="">ESCOGE LA TIENDA</option>
                  <option *ngFor="let dato of datos" >{{ dato }}</option>
                </select>
                <div class="d-grid gap-2 mb-3" >
                  <sup>*</sup>ESCOJA TIENDA
                </div>
              </div>
          </div></td>
          </tr>
          
        </tbody>      
      </table>
    </form>
  </div>
</div>

