<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seguro Médico de la Empresa</title>
  <link rel="stylesheet" href="seguro.component.css">
</head>
<body>
  <header>
      <h1>Seguro Médico de la Empresa</h1>
  </header>
  <main>
    <section id="beneficios">
      <h2>Beneficios del Seguro Médico de la Empresa</h2>
      <ul>
          <li>Cobertura médica completa para todos los empleados.</li>
          <li>Acceso a una red de médicos y especialistas de alta calidad.</li>
          <li>Sin límites de edad o condiciones médicas preexistentes.</li>
          <li>Atención médica en todo el país.</li>
      </ul>
    </section>
    <section id="cómo-funciona">
      <h2>Cómo Funciona el Seguro Médico de la Empresa</h2>
      <p>El seguro médico de la empresa es un beneficio disponible para todos los empleados de nuestra organización. Para utilizarlo, comunicarse con Recurso Humanos. Si necesita atención médica fuera de la red, se le proporcionará un reembolso parcial del costo.</p>
    </section>
    <section id="cómo-unirse">
      <h2>Cómo Unirse al Seguro Médico de la Empresa</h2>
      <p>Para unirse al seguro médico de la empresa, simplemente debe comunicarse con el departamento de Recursos Humanos. Allí encontrará más información sobre el seguro y cómo inscribirse.</p>
    </section>
    <section id="Coberturas">
      <h2>Coberturas</h2>
      <div class="table-container">
        <table class="elegant-table">
          <thead>
            <tr>
              <th>Coberturas</th>
              <th>Plan 1</th>
              <th>Plan 2</th>
              <th>Plan 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Suma Máxima Asegurada</td>
              <td>$100,000</td>
              <td>$50,000</td>
              <td>$30,000</td>
            </tr>
            <tr>
              <td>Deducible Anual por Persona</td>
              <td>$180</td>
              <td>$150</td>
              <td>$120</td>
            </tr>
            <tr>
              <td>Nivel o Tabla de Honorarios Hospital Metropolitano</td>
              <td>Hospital Metropolitano</td>
              <td>Hospital Metropolitano</td>
              <td>Hospital Metropolitano</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Cobertura Hospitalaria</th>
              <th>Plan 1</th>
              <th>Plan 2</th>
              <th>Plan 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Prestadores Direccionados</td>
              <td>90%</td>
              <td>90%</td>
              <td>90%</td>
            </tr>
            <tr>
              <td>Prestadores de la Red</td>
              <td>80%</td>
              <td>80%</td>
              <td>80%</td>
            </tr>
            <tr>
              <td>Prestadores Libre Elección</td>
              <td>70%</td>
              <td>70%</td>
              <td>70%</td>
            </tr>
            <tr>
              <td>Cuarto y Alimento Diario al 100%, hasta $</td>
              <td>260</td>
              <td>220</td>
              <td>200</td>
            </tr>
            <tr>
              <td>Unidad de Cuidados Intensivos</td>
              <td>Acorde al % hospitalario</td>
              <td>Acorde al % hospitalario</td>
              <td>Acorde al % hospitalario</td>
            </tr>
            <tr>
              <td>Límite de días por Hospitalización</td>
              <td>Sin límite de días</td>
              <td>Sin límite de días</td>
              <td>Sin límite de días</td>
            </tr>
            <tr>
              <td>Cama de Acompañante menores de 16 años</td>
              <td>$80</td>
              <td>$70</td>
              <td>$70</td>
            </tr>
          </tbody> 
          <thead>
            <tr>
              <th>Cobertura Ambulatoria</th>
              <th>Plan 1</th>
              <th>Plan 2</th>
              <th>Plan 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Centros Ambulatorios de la Red</td>
              <td>90%</td>
              <td>90%</td>
              <td>90%</td>
            </tr>
            <tr>
              <td>Cobertura de ayuda visual para titulares una vez al año contrato, al 100% sin aplicación de deducible hasta</td>
              <td>$30</td>
              <td>$30</td>
              <td>$30</td>
            </tr>
            <tr>
              <td>Cobertura Ambulatoria fuera de la red</td>
              <td>70%</td>
              <td>70%</td>
              <td>70%</td>
            </tr>
            <tr>
              <td>Tope de Consulta Médica</td>
              <td>$68</td>
              <td>$65</td>
              <td>$63</td>
            </tr>
            <tr>
              <td>Farmacia Libre Elección</td>
              <td>80%</td>
              <td>80%</td>
              <td>80%</td>
            </tr>
            <tr>
              <td>Farmacia con Crédito</td>
              <td>90% Genérico<br>70% Comercial</td>
              <td>90% Genérico<br>70% Comercial</td>
              <td>90% Genérico<br>70% Comercial</td>
            </tr>
            <tr>
              <td>Emergencia por Accidente al 100%, hasta</td>
              <td>$1.300</td>
              <td>$1.000</td>
              <td>$900</td>
            </tr>
            <tr>
              <td>Crédito Hospitalario</td>
              <td colspan="3">Se deberá presentar la documentación con 4 días de anticipación en el caso de cirugías o tratamientos programados, emergencias hospitalarias la comunicación será directa entre el prestador médico en convenio y la Compañía. El afiliado debe dejar una garantía, los gastos se descuenta del rol de pagos</td>
            </tr>
          </tbody>
        </table>
      </div>  
    </section>
    <section id="Medicinas - Crédito">
      <h2>Medicinas - Crédito</h2>
      <p>Para tener crédito 90% (Genérica) o 70% (Marca) se puede acercar a las siguientes farmacias:</p>
      <div style="align-items: center; align-self: center; align-content: center; text-align: center;">
        <img src="./assets/farmacias_participantes.PNG" >      
      </div>
      <br>
      <p>La receta debe incluir los siguientes datos:</p>      
      <ol>
        <li>Nombres y apellidos completos del paciente</li>
        <li>Cédula de identidad</li>
        <li>Fecha de emisión de la receta</li>
        <li>Diagnósticos completos (Código CIE10 y/o nombre correspondiente)</li>
        <li>Diagnósticos completos (Código CIE10 y/o nombre correspondiente)</li>
        <li>Prescripción de cada medicamento con su dosis y el tiempo de tratamiento (el detalle de
          medicamentos con presentación, posología y cantidad requerida en números)</li>
        <li>Firma y sello del Médico Tratante</li>
      </ol>
      <p>Nota: <li>Por el estado de emergencia si toda la medicina recetada no es parte del vademécum se tendrá que
        manejar toda la receta bajo reembolso.</li></p>
    </section>
    <section id="Cobertura por maternidad">
      <h2>Cobertura por maternidad</h2>
      <table class="elegant-table">
        <thead>
          <tr>
            <th colspan="2">Cobertura Ambulatoria</th>
            <th colspan="2">Monto</th>          
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">Preexistencias</td>
            <td colspan="2">Hasta el monto máximo, continuidad de cobertura</td>          
          </tr>
          <tr>
            <td colspan="2">Periodo de Carencia</td>
            <td colspan="2">Nuevas inclusiones 90 días</td>          
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Maternidad al 100% sin deducible</th>
            <th>Plan 1</th>        
            <th>Plan 2</th>  
            <th>Plan 3</th>    
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Parto Normal, Césare, Aborto no provocado </td>
            <td>$1.500</td>      
            <td>$1.200</td>   
            <td>$1.200</td>       
          </tr>
          <tr>
            <td>Complicaciones de Maternidad </td>
            <td>$1.500</td>      
            <td>$1.200</td>   
            <td>$1.200</td>       
          </tr>
          <tr>
            <td>Cuidados de recién nacido / vitalicios </td>
            <td>Desde el primer día</td>      
            <td>Desde el primer día</td>   
            <td>Desde el primer día</td>   
          </tr>
        </tbody>
      </table>
      <p>Nota: <li>Siempre se debe notificar el embarazo dentro de las primeras 12 semanas de gestación,
        caso contrario la maternidad no tendrá cobertura.</li></p>
    </section>
    <section id="¿Qué debo hacer en caso de embarazo?">
        <h2>¿Qué debo hacer en caso de embarazo?</h2>
        <ol>
          <li>Comunicar a su Ejecutiva de Servicio de Aon.</li>
          <li>Presentar el certificado médico en el que se indique las semanas de gestación y fecha (FUM).</li>
          <li>Enviar el certificado a alejandra.proano@aon.com</li>            
        </ol>
        <p>Nota:<li>El plazo para notificar un embarazo es hasta los 90 días de embarazo.</li></p>
    </section>
    <section id="Beneficios Adicionales">
      <h2>Beneficios Adicionales</h2>
      <div class="table-container">
        <div class="table4">
          <div class="cell">Prótesis No Dental</div>
          <div class="cell">Alquiler deMuletas y Sillas de Ruedas</div>
          <div class="cell">Zapatos Ortopédicos</div>
          <div class="cell">Aparatos Ortopédicos</div>
          <div class="cell">Pruebas de Sensibilidad</div>
          <div class="cell">Plantillas Ortopédicas</div>
          <div class="cell">Medias Elásticas</div>
          <div class="cell">Ligaduras y Vasectomías</div>
          <div class="cell">Vitaminas y Alérgenos</div>
          <div class="cell">Extracción de Terceros Molares.</div>
          <div class="cell">Pap Test</div>
          <div class="cell">Mamografía y Antígeno Prostático</div>
          <div class="cell">Control del Niño Sano</div>
          <div class="cell">Asistencia en viajes al 100%</div>
          <div class="cell">Leche Medicada</div>
          <div class="cell">Médico a Domicilio</div>
          <div class="cell">Audífonos</div>
          <div class="cell">Medicina Natural, Homeopática y Acupuntura</div>
          <div class="cell">Eximer Laser</div>
          <div class="cell">Acné</div>
          <div class="cell">Trasplante de Órganos</div>
          <div class="cell">Sepelio</div>
          <div class="cell">Ambulancia Terrestre, Aérea o Fluvial</div>
        </div>
      </div>      
      <p>Nota:<li>El plazo para notificar un embarazo es hasta los 90 días de embarazo.</li></p>
    </section>
    <section id="Beneficios Adicionales – Plan Exequial" class="beneficios5">
      <h2>Beneficios Adicionales – Plan Exequial</h2>      
      <div class="table-container">
        <table class="elegant-table">
          <thead>
            <tr>
              <td colspan="3">•   Cobertura de sepelio mediante Plan Exequial con Grupo Jardines del Valle para titulares y dependientes, bajo direccionamiento:</td>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td>Trámites legales.</td>
              <td>Sala de velación 24 horas a nivel nacional.</td>
              <td>Traslados a sala de velación y camposanto a nivel nacional.</td>        
            </tr>          
            <tr>
              
              <td>Traslado vía aérea o terrestre a nivel nacional.</td>
              <td>Tanatopraxia (maquillaje).</td>
              <td>Formolización.</td>
            </tr> 
            <tr>
              <td>Cofre metálico.</td>
              <td>Servicio de cafetería.</td>
              <td>Servicio telefónico local.</td>
            </tr>     
            <tr>      
              <td>Servicios religiosos de acuerdo al culto.</td>    
              <td>Arreglos florales.</td>
              <td>Libro de condolencias, de oraciones y rosario.</td>          
            </tr> 
            <tr>
              <td>Nicho en camposanto en arrendamiento por 4 años.</td>
              <td>Cremación.</td>
              <td>Urna y columbario en arrendamiento por 4 años.</td>
            </tr>           
            <tr>
              <td colspan="3">•   En caso de fallecimiento un familiar o responsable deberá comunicarse de inmediato al 0996275604 o al 1800 CGIRON:</td>
            </tr>
            <tr>              
              <td>Notificar que es cliente de Humana</td>
              <td>Mencionar su nombre y número de cédula</td>
              <td>Indicar la dirección exacta de donde se debe retirar el cuerpo</td>
              
            </tr>           
            <tr>
              <td colspan="1">Seleccionar la sala de velación y camposanto.</td>
            </tr>
          </tbody>
        </table>
      </div>     
    </section>
    <section id="Cobertura en el Exterior">
      <h2>Cobertura en el Exterior</h2>
      <ul>
        <li>Por emergencia médica por enfermedad no preexistente o accidente.</li>
        <li>Aplica para cualquier parte del mundo con previa notificación, llenando el formato para viajes y el beneficio tiene vigencia durante los primeros 30 días del viaje.</li>
        <li>Se debe notificar el viaje mínimos 72 horas de anticipación al viaje.</li>
        <li>En caso de no notificar la salida, no se activa el beneficio por lo tanto en caso de incurrir en algún gasto en el exterior tendrá cobertura vía reembolso a costos del medio ecuatoriano a través de Humana.</li>
        <br>
        <p>Formato de Solicitud de Emisiones de Seguro de Viaje:</p>
        <a href="https://ejemplo.com/catalogo.pdf" download>Descargar Solicitud</a>
      </ul>
    </section>
    <section id="Médico a Domicilio">
      <h2>Médico a Domicilio</h2>
      <p style="text-align: justify;">En caso de una emergencia por enfermedad y/o accidente, usted
        cuenta con cobertura de médico a Domicilio con costo de $10 (no reembolsables tanto en la ciudad
        de Quito, Guayaquil y Cuenca llamando al 1800- 48 62 62</p>
        <div style="align-items: center; align-self: center; align-content: center; text-align: center;">
          <img src="./assets/medicoAON.PNG" >      
        </div>
      <ul> 
        <p>Nota:<li>Bajo la situación actual para casos respiratorios o de sospecha de Covid19 no aplica el beneficio bajo los
          lineamientos de bioseguridad aplicados por el prestador que brinda el servicio de atención domiciliaria.</li></p>
      </ul>
    </section>
    <section id="Documentos a presentar para reembolso">
      <h2>Documentos a presentar para reembolso</h2>      
      <ul> 
        <li>Formulario llenado por el médico tratante.</li>
        <li>Factura original de consultas médicas.</li>
        <li>Copia de pedido de exámenes.</li>
        <li>Factura original o PDF de factura electrónica de exámenes realizados, sean de laboratorio o de rayos X.</li>
        <li>Copia de resultados de exámenes. </li>
        <li>Copia de receta médica, con nombres del paciente </li>
        <li>Factura original o PDF de factura electrónica de la
        <li>compra de medicinas</li>
      </ul>
    </section>
    <section id="¿Cómo presentar reclamos?">
      <h2>¿Cómo presentar reclamos?</h2> 
      <p>
        Estamos receptando los reclamos médicos vía email.
        Todos los documentos deberán ser escaneados y
        enviados a alejandra.proano@aon.com La información debe
        cumplir el siguiente orden:
      </p>   
      <ul> 
        <li>Armar un solo PDF con:
          <ul>
            <li>Formulario de reclamación o alcance </li>
            <li>Facturas, pedidos médicos y resultados de apoyo de diagnóstico</li>
            <li>Cualquier informe complementario del caso</li> 
          </ul>                   
        </li>        
      </ul>
      <p>Asunto del Correo Electrónico</p>
      <ul>
        <li>Nombre de la empresa, Nombres y apellidos Completos del Titular</li>
        <li>Nombres y apellidos Completo del Paciente.</li>
        <ul>
          <ol>Ejemplo:Salesland/ Nombre del Titular / Nombre del Paciente</ol>
        </ul>        
      </ul>        
    </section>
    <section id="Red Ambulatoria Quito">
      <h2>Red Ambulatoria Quito</h2>   
      <div style="align-items: center; align-self: center; align-content: center; text-align: center;">
        <img src="./assets/Metrored.PNG" >      
      </div>
      <p>
        Medicina Familiar, Medicina Interna, medicina
        general, ginecología y pediatría $5 el valor de la
        consulta y $10 el resto de especialidades.
      </p>  
      <div style="align-items: center; align-self: center; align-content: center; text-align: center;">
        <img src="./assets/Sime.PNG" >   
        <img src="./assets/Veris.PNG" >   
        <img src="./assets/ClinicaEspecialidadestumbaco.PNG" >   
        <img src="./assets/Hospital Padre Carolo.PNG" >   
        <img src="./assets/MediSurAxis.PNG" >   
        <img src="./assets/CentrosMedicos.PNG" >   
      </div>      
      <p>
        Medicina Familiar, Medicina
        Interna, medicina general,
        ginecología y pediatría $8 el valor
        de la consulta y $12 el resto de
        especialidades.
      </p>   
    </section>
    <section id="Consulta de Red Médica">
      <h2>Consulta de Red Médica</h2>  
      <p>
        Para consultas medicas de especialidad con médicos de primer nivel afiliados a la red de Humana
        en los cuales tenemos costos preferenciales. Ingrese al portal de Humana y escoja el medico de su
        preferencia.
      </p> 
      <ul>
        <li><a href="http://www.humana.med.ec">RED PRESTADORES</a></li>
        <li> Menú Principal: RED HUMANA</li>
      </ul>
      <br>
      <div style="align-items: center; align-self: center; align-content: center; text-align: center;">
        <img src="./assets/RedPrestadoresHumana.PNG" >      
      </div>
      <p>Beneficio: Sin aplicación de deducible pagando el fee administrativo:</p>
      <ul>
        <li>RED PREFERIDA PRACTIHUMANA: $15,00</li>
        <li>RED PREFERIDA METROHUMANA: $25</li>
      </ul>
    </section>
    <section id="Para exámenes de diagnóstico">
      <h2>Para exámenes de diagnóstico</h2>  
      <p>
        Para solicitar una autorización de exámenes, se deberá enviar un correo con la
        información a continuación y adjuntar siempre el pedido de los exámenes que se
        quieren preautorizar el cual debe tener los siguientes requisitos:
      </p> 
      <ul>
        <li>Nombres del paciente</li>
        <li>Diagnóstico</li>
        <li>El pedido no debe mayor a 15 días de antigüedad</li>
        <li>Información a incluir en el correo:</li>        
      </ul>
      <br>
      <div class="table-container">
        <table class="elegant-table">
          <tr>
            <td>Contratante:</td>
            <td></td>
          </tr>
          <tr>
            <td>Titular:</td>
            <td></td>
          </tr>
          <tr>
            <td>Paciente:</td>
            <td></td>
          </tr>
          <tr>
            <td>Identificación:</td>
            <td></td>
          </tr>
          <tr>
            <td>Diagnóstico:</td>
            <td></td>
          </tr>
          <tr>
            <td>Procedimiento:</td>
            <td></td>
          </tr>
          <tr>
            <td>Ciudad/Prestador:</td>
            <td></td>
          </tr>
          <tr>
            <td>Fecha Tentativa:</td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>
    <section id="Presentación de Recetas y Pedidos Médicos">
      <h2>Presentación de Recetas y Pedidos Médicos</h2>  
      <p>
        Formato de presentación de recetas y pedidos médicos
      </p> 
      <div class="table-container">
        <table class="elegant-table">
          <thead>
            <tr>
              <th colspan="1">Información a presentar para Recetas</th>
              <th colspan="1">Información a presentar para Pedidos Médicos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fecha</td>  
              <td>Fecha</td>           
            </tr>
            <tr>
              <td>Nombre Completo del Paciente</td>   
              <td>Nombre Completo del Paciente</td>               
            </tr>
            <tr>
              <td>Detalle de Medicamentos con posología (indicaciones)</td>      
              <td>Detalle de Examen o Terapias (incluir número de Terapias)</td>         
            </tr>
            <tr>
              <td>Diagnóstico</td>      
              <td>Diagnóstico</td>             
            </tr>
            <tr>
              <td>Firma y Sello del Médico</td>   
              <td>Firma y Sello del Médico</td>                 
            </tr>
          </tbody>          
        </table>  
      </div>
    </section>
    <section id="Red Hospitalaria en Quito">
      <h2>Red Hospitalaria en Quito</h2>
      <div class="table-container">
        <table class="elegant-table">
        <tr>
          <th>Cobertura</th>
          <th>Proveedor</th>
        </tr>
        <tr>
          <td rowspan="10">80%</td>
          <td>Clínica Tumbaco</td>
        </tr>
        <tr>
          <td>Hospital San Bartolo</td>
        </tr>
        <tr>
          <td>Clínica de Especialidades del Sur</td>
        </tr>
        <tr>
          <td>Clínica de Emergencias San Francisco</td>
        </tr>
        <tr>
          <td>Clínica María Auxiliadora</td>
        </tr>
        <tr>
          <td>Clínica Moderna</td>
        </tr>
        <tr>
          <td>Hospital Padre Carolo</td>
        </tr>
        <tr>
          <td>Hospital Vozandes</td>
        </tr>
        <tr>
          <td>Clinica Integral</td>
        </tr>
        <tr>
          <td>Clínica de la Mujer</td>
        </tr>
        <tr>
          <td rowspan="1">80%</td>
          <td>Resto de proveedores de la red Humana</td>
        </tr>
        </table>
      </div>
    </section>
    <section id="Red Hospitalaria en Guayaquil">
      <h2>Red Hospitalaria en Guayaquil</h2>
      <div class="table-container">
        <table class="elegant-table">
        <tr>
          <th>Cobertura</th>
          <th>Proveedor</th>
        </tr>
        <tr>
          <td rowspan="8">90%</td>
          <td>Clínica Aprofe</td>
        </tr>
        <tr>
          <td>Hospita San Francisco de Guayaquil</td>
        </tr>
        <tr>
          <td>Clínica Alborada</td>
        </tr>
        <tr>
          <td>Clínica Santa María</td>
        </tr>
        <tr>
          <td>Panamericana</td>
        </tr>
        <tr>
          <td>Politzer</td>
        </tr>
        <tr>
          <td>Hospital Clínica Kennedy Alborada</td>
        </tr>
        <tr>
          <td>Luis Vernaza</td>
        </tr>        
        <tr>
          <td rowspan="1">80%</td>
          <td>Resto de proveedores de la red Humana</td>
        </tr>
        </table>
      </div>
    </section>
    <section id="Crédito Hospitalario">
      <h2>Crédito Hospitalario</h2>  
      <p>
        Cuando tenga una cirugía, debe ser programada (72h antes de la operación) de la siguiente manera:
      </p> 
      <ul>
        <li>Solicite a su médico que le ayude llenando el formulario de solicitud de preautorización hospitalaria.</li>
        <li>Compruebe que en el formulario conste la firma de su médico, diagnostico y procedimiento a
          realizar.</li>
        <li>Adjunte a este formulario los resultados de exámenes de laboratorio y/o imagen que le han realizado
          que respaldo del diagnóstico.</li>
        <li>
          Entregue esta información de forma física o digital a la ejecutiva de Aon.
        </li>
        <li>
          En un plazo máximo de 72 horas le enviaremos la respuesta de su pre-autorización vía correo
          electrónico.
        </li>
        <li>
          Si el paciente es un dependiente mayor a 18 años, por favor adjuntar copia de cedula,
          certificado de estudios y certificado de no aportaciones al IESS.
        </li>
        <li>
          Crédito CON GARANTIA.
        </li>    
      </ul>
      <ul> 
        <p>Nota:<li>La pre-autorización no significa cobertura</li></p>
      </ul>
    </section>
    <section id="Notas de Importancia">
      <h2>Notas de Importancia</h2>  
      <p>
        Cuando tenga una cirugía, debe ser programada (72h antes de la operación) de la siguiente manera:
      </p> 
      <ul>
        <li>La permanecia de los empleados en la póliza es de 1 año.</li>
        <li>No se puede generar un cambio de plan a media vigencia</li>
        <li>No se puede excluir titular o dependientes a media vigencia y si se diera el caso bajo los siguientes
          parámetros:</li>
        <ol>
          <li>Cambio de estado Civil</li>
          <li>Desvinculacion de la empresas</li>
          <li>Fallecimiento.</li>
        </ol>
      </ul>
      
    </section>
  </main>
  <footer>
      <p>Derechos de Autor © 2023 Seguro Médico de la Empresa. Todos los derechos reservados.</p>
  </footer>
</body>
