<button class="btn btn-danger"></button>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">                
        <a class="nav-item nav-link" routerLink="listar-usuarios" >USUARIOS</a>                   
        <a class="nav-item nav-link" routerLink="listar-candidatos" >CANDIDATOS</a> 
        <a class="nav-item nav-link" routerLink="listar-centros-costos" >CENTROS DE COSTOS</a>
        <a class="nav-item nav-link" routerLink="listar-cargos" >CARGOS</a>
        <a class="nav-item nav-link" routerLink="listar-contratos" >CONTRATOS</a>   
        <a class="nav-item nav-link" routerLink="listar-experiencias-laborales" >EXPERIENCIAS LABORALES</a>              
        <a class="nav-item nav-link" routerLink="listar-personal" >PERSONAL</a>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>