<div class="card">
    <div class="card-header">
        EDITAR USUARIO
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDatos()" >
               
            <div class="mb-3">
                <label for="" class="form-label">ID USUARIO</label>
                <input required type="text"
                  class="form-control" formControlName="id_usuario" id="" aria-describedby="helpId" placeholder="Escribe el id usuario" readonly>
              </div>

            <div class="mb-3">
                <label for="" class="form-label">CEDULA</label>
                <input required type="text"
                  class="form-control" formControlName="cedula" id="" aria-describedby="helpId" placeholder="Escribe la cedula">
              </div>

            <div class="mb-3">
                <label for="" class="form-label">NOMBRE USUARIO</label>
                <input required type="text"
                  class="form-control" formControlName="nombre_usuario" id="" aria-describedby="helpId" placeholder="Escribe tu usuario">
              </div>
            
            <div class="mb-3">
                <label id="password_label" for="password">PASSWORD</label>
                <input required id="password" formControlName="password" class="form-control" placeholder="Escribe tu contraseña"/>
            </div>

            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="submit" class="btn btn-warning">MODIFICAR REGISTRO</button>
                <button type="button"  routerLink="/listar-usuarios" class="btn btn-primary">CANCELAR</button>                
            </div>

        </form>
    </div>
    
</div>
