.body {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

button {
    background-color: #045959;
}

button:hover {
    background-color: #000000;
}

.form-floating label {
    color: #045959;
  }
  
.form-floating input {
    border-color: #045959;
  }

.logo-image {
    display: block;
    margin: 0 auto;
    max-width: 250px; /* ajusta el valor al tamaño que desees */
  }

  .login {
    display: block;
    margin: auto;
    width: 200%;
    max-width: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
