@import '~@fortawesome/fontawesome-free/css/all.css';


#containerInicio {
  height: 100vh; /* 100% del viewport height */
  width: 100%; /* 100% del ancho disponible */
  background-color: white;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Utiliza un número mínimo de 300px y se ajusta automáticamente según el espacio disponible */
  grid-gap: 20px;
  max-width: 100%; /* Asegura que el ancho máximo sea el disponible */
  justify-items: center;
  padding-top: 20px;
}

.button-menu {
  background-color: #045959;
  color: #ffffff;
  width: 100%; /* Ocupa todo el ancho disponible del contenedor */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  max-width: 250px; /* Establece un ancho máximo de 500px */
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.button-menu:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

i {  
  text-align: center;
  align-content: center;
  width:7;
  height:7;

}

header {
  background-color: #333;
  color: #fff;
  padding: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.left-ul {
  float: left;
}

.right-ul {
  float: right;
}

/*Carousel*/
.elemento1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.elemento1 {
  background-image: url('/../assets/startup-594090_1920.jpg');
  background-size: cover;
  background-position: center;
  height: 52vh; /* 100% del viewport height */
  width:  100%; /* 100% del ancho disponible */
}

.elemento2 {
  background-image: url('/../assets/mision.jpg');
  background-size: cover;
  background-position: center;
  height: 52vh; /* 100% del viewport height */
  width: 100%; /* 100% del ancho disponible */
}

.elemento3 {
  background-image: url('/../assets/vision.jpg');
  background-size: cover;
  background-position: center;
  height: 52vh; /* 100% del viewport height */
  width: 100%; /* 100% del ancho disponible */
}

/*Layout*/

.column1  {
  float: left;
  width: 25%;
}

.column3 {
  float: right;
  width: 25%;
}

.column2 {
  float: center;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h1 {
  color: #045959;
}

.button-menu-external {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;  
}

.icon-image {
  width: 96px; /* Tamaño del icono */
  height: auto; /* Altura automática para mantener la proporción */
}

.responsive-table-external {
  width: 100%;
}

.responsive-table-external th,
.responsive-table-external td {
  padding: 10px;
  text-align: center;
}

.icon-image {
  width: 24px; /* Tamaño del icono */
  height: auto; /* Altura automática para mantener la proporción */
}

@media only screen and (max-width: 600px) {
  .responsive-table-external th,
  .responsive-table-external td {
    display: block;
    width: 100%;
  }
}

.button-grid {
  display: grid;  
  grid-gap: 10px;  
  grid-template-columns: repeat(auto-fit, minmax(72px, 1fr)); /* Utiliza un número mínimo de 300px y se ajusta automáticamente según el espacio disponible */
  max-width: 100%; /* Asegura que el ancho máximo sea el disponible */
  justify-items: center;
  padding-top: 20px;
}

.button-menu-internal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #045959;
  color: #ffffff;
  width: 100%; /* Ocupa todo el ancho disponible del contenedor */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  max-width: 250px; /* Establece un ancho máximo de 500px */
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.icon-image-external {
  width: 72px;
  height: auto;
}

.card-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-align-ReglamentoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h1-ReglamentoTitle {
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
}

.card-align-politics {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

.icon-image-publicacion {
  width: 100%;
  max-width: 300px;
  height: auto;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #333;
  background-color: #f9f9f9;
}

.dropdown-content a:hover {
  background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content {
  display: block;
}