@import '~@fortawesome/fontawesome-free/css/all.css';


#containerInicio {
  height: 100vh; /* 100% del viewport height */
  width: 100%; /* 100% del ancho disponible */
  background-color: white;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Utiliza un número mínimo de 300px y se ajusta automáticamente según el espacio disponible */
  grid-gap: 20px;
  max-width: 100%; /* Asegura que el ancho máximo sea el disponible */
  justify-items: center;
  padding-top: 20px;
}

.button-menu {
  background-color: #045959;
  color: #ffffff;
  width: 100%; /* Ocupa todo el ancho disponible del contenedor */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  max-width: 250px; /* Establece un ancho máximo de 500px */
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.button-menu:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

i {  
  text-align: center;
  align-content: center;
  width:7;
  height:7;

}

header {
  background-color: #333;
  color: #fff;
  padding: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.left-ul {
  float: left;
}

.right-ul {
  float: right;
}

/*Carousel*/
.elemento1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.elemento1 {
  background-image: url('/../assets/startup-594090_1920.jpg');
  background-size: cover;
  background-position: center;
  height: 52vh; /* 100% del viewport height */
  width:  100%; /* 100% del ancho disponible */
}

.elemento2 {
  background-image: url('/../assets/mision.jpg');
  background-size: cover;
  background-position: center;
  height: 52vh; /* 100% del viewport height */
  width: 100%; /* 100% del ancho disponible */
}

.elemento3 {
  background-image: url('/../assets/vision.jpg');
  background-size: cover;
  background-position: center;
  height: 52vh; /* 100% del viewport height */
  width: 100%; /* 100% del ancho disponible */
}

/*Layout*/

.column1  {
  float: left;
  width: 25%;
}

.column3 {
  float: right;
  width: 25%;
}

.column2 {
  float: center;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h1 {
  color: #045959;
}

.button-menu-external {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;  
}

.icon-image {
  width: 96px; /* Tamaño del icono */
  height: auto; /* Altura automática para mantener la proporción */
}

.responsive-table-external {
  width: 100%;
}

.responsive-table-external th,
.responsive-table-external td {
  padding: 10px;
  text-align: center;
}

.icon-image {
  width: 24px; /* Tamaño del icono */
  height: auto; /* Altura automática para mantener la proporción */
}

@media only screen and (max-width: 600px) {
  .responsive-table-external th,
  .responsive-table-external td {
    display: block;
    width: 100%;
  }
}

.button-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
  max-width: 100%;
  justify-items: center;
  padding-top: 20px;
  text-align: center; /* Alinea el texto en el centro */
}

.button-grid button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Espacio entre la imagen y el texto */
}

.button-grid .icon-image-external {
  width: 80px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 80px; /* Ajusta la altura de la imagen según sea necesario */
}

.button-menu-internal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #045959;
  color: #ffffff;
  width: 100%; /* Ocupa todo el ancho disponible del contenedor */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  max-width: 250px; /* Establece un ancho máximo de 500px */
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.button-menu-internal:hover {
  background-color: #225555be;
}

.icon-image-external {
  width: 72px;
  height: auto;
}

.card-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-fix {
  position: fixed;
}

.card-align-ReglamentoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h1-ReglamentoTitle {
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
  cursor: pointer;
}

.card-align-politics {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

.icon-image-publicacion {
  width: 100%;
  max-width: 300px;
  height: auto;
  text-align: center;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.dropdown-content a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #045959;
  background-color: #f9f9f9;
}

.dropdown-content a:hover {
  background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para el botón del menú hamburguesa */
.dropbtn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.hamburger-icon {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #045959;
  transition: transform 0.3s ease;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #045959;
  transition: transform 0.3s ease;
}

.hamburger-icon::before {
  top: -6px;
}

.hamburger-icon::after {
  bottom: -6px;
}

.dropbtn.active .hamburger-icon {
  transform: rotate(45deg);
}

.dropbtn.active .hamburger-icon::before {
  transform: rotate(90deg);
  top: 0;
}

.dropbtn.active .hamburger-icon::after {
  transform: rotate(90deg);
  bottom: 0;
}

/* Estilos para el hover del botón */
.dropbtn:hover {
  background-color: #04595934;
  color: #045959;
}

/*Responsive*/

@media (max-width: 600px) {
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  .column1,
  .column2,
  .column3 {
    float: none;
    width: 100%;
  }

  .button-group {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .elemento1,
  .elemento2,
  .elemento3 {
    height: 40vh;
  }

  .icon-image-external {
    width: 48px;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  .dropdown {
    padding-top: 30px
  }
  .button-menu-external,
  .button-menu-internal {
    font-size: 12px;
  }
}

.icon-image-adjusted{
  width: 100%;
  background-color: #045959;
}

.contenedor-campus-salesland {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;  
  background-color: #045959;
}


.carousel-inner {
  cursor: pointer;
}