<div class="row">
  <div class="column1">
    <div class="card-align">
      <div class="dropdown">
        <button class="dropbtn">Menú</button>
        <div class="dropdown-content">
          <a href="#">Opción 1</a>
          <a href="#">Opción 2</a>
          <a href="#">Opción 3</a>
        </div>
    </div>    
    </div>
    <div class="card-align">
      <h1 class="h1-ReglamentoTitle">Publicaciones</h1>    
    <img src="./assets/alianza salesland.jpg" alt="Icono" class="icon-image-publicacion">
    <p >Alianza Salesland</p>
    </div>
    <hr>
    
  </div>
  
  <div class="column2" >
    <main>
      <section id="CarouselInicio">
        <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner elemento1">
            <div class="carousel-item active" data-bs-interval="2000">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            
            <div class="carousel-item elemento2" data-bs-interval="2000">
              <div class="carousel-caption d-none d-md-block">
  
              </div>
            </div>
            <div class="carousel-item elemento3" data-bs-interval="2000">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>         
      </section>
      
    </main>
    <div class="button-grid">
      <button class="button-menu-internal" (click)="goToExternalLinkVacaciones()">Vacaciones<br><i class="fas fa-umbrella-beach fa-4x"></i> </button>      
      <button class="button-menu-internal" (click)="goToExternalLinkTickets()">Soporte<br><i class="fas fa-headset fa-4x"></i> </button>
      <button class="button-menu-internal" (click)="goToExternalLinkpostulateEspana()">Postulate<br><i class="fas fa-file-alt fa-4x"></i> </button>
      <button class="button-menu-internal" (click)="navigateToRolPagos()">Rol de pagos<br><i class="fas fa-money-check-alt fa-4x"></i></button>
      <button class="button-menu-internal" *ngIf="centroCostoFlag" (click)="navigateToSeguros()">Seguro Médico<br><i class="fas fa-hospital fa-4x"></i> </button>
      <button class="button-menu-internal" (click)="navigateToViajes()">Viajes<br><i class="fas fa-plane-departure fa-4x"></i></button>
    </div>
    <div class="button-group">
      
    </div>
  </div>
  <div class="column3" >
    <div class="card-align-ReglamentoTitle"> 
      <h1 class="h1-ReglamentoTitle" (click)="togglePolitics()">Reglamento Interno de la Empresa Salesland Ecuador</h1>
    </div>    
    <div *ngIf="showPolitics">
      <app-politics></app-politics>
    </div>    
    <hr>
    <div class="button-grid">
      <button class="button-menu-external" (click)="goToExternalLinkCampusSalesland()">
        Campus Salesland
        <img src="./assets/campus salesland logo.jpg" alt="Icono" class="icon-image-external">
      </button>
      <button class="button-menu-external" *ngIf="centroCostoFlag" (click)="goToExternalLinkControlnet()">
        Controlnet
        <img src="./assets/controlnet Logo.png" alt="Icono" class="icon-image-external">
      </button>
      <button class="button-menu-external" *ngIf="mabeOptionsFlag" (click)="goToExternalLinkAmigosMABE()">
        Amigos MABE
        <img src="./assets/amigos mabe logo.jpg" alt="Icono" class="icon-image-external">
      </button>
      <button class="button-menu-external" *ngIf="mabeOptionsFlag" (click)="navigateToenConstruccion()">
        Credenciales MABE
        <img src="./assets/amigos mabe logo.jpg" alt="Icono" class="icon-image-external">
      </button>
      <button class="button-menu-external" *ngIf="centroCostoFlag" (click)="goToExternalLinkAracne()">
        Aracne 
        <img src="./assets/aracne logo.jpg" alt="Icono" class="icon-image-external">
      </button>
    </div>
  </div>
</div>
<footer>  
  <div>
    <app-publicidad-footer></app-publicidad-footer>
  </div>
</footer>

  
