@import '~@fortawesome/fontawesome-free/css/all.css';


#containerInicio {
  height: 100vh; /* 100% del viewport height */
  width: 100%; /* 100% del ancho disponible */
  background-color: white;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Utiliza un número mínimo de 300px y se ajusta automáticamente según el espacio disponible */
  grid-gap: 20px;
  max-width: 100%; /* Asegura que el ancho máximo sea el disponible */
}

button {
  background-color: #045959;
  color: #ffffff;
  width: 100%; /* Ocupa todo el ancho disponible del contenedor */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  max-width: 500px; /* Establece un ancho máximo de 500px */
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

i {  
  text-align: center;
  align-content: center;
  width:7;
  height:7;

}

header {
  background-color: #333;
  color: #fff;
  padding: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}



.left-ul {
  float: left;
}

.right-ul {
  float: right;
}