.contenedor-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  background-color: #045959;
}
.contenedor-botones a{
  background-color: #045959;
  color: #fff;
  border: 1px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #045959;
  text-decoration: none;
}
.contenedor-botones a:hover{
  background-color: #afaeae2f;
}

.btn-group-horizontal {
  display: flex;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #045959;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.contenedor-dias {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(177, 177, 177, 0.479);
}

.btn:hover {
  background-color: #afaeae2f;
}

.btn:first-child {
  margin-right: auto;
}

.form-label {
  color: #045959;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 14px;
}

.form-control {
  width: 50px;
  border: none;
  border-bottom: 1px solid #045959;
  background-color: transparent;
  color: #045959;
  padding: 5px;
  transition: border-bottom-color 0.3s ease;
}

.form-control:hover,
.form-control:focus {
  outline: none;
  border-color: #079292;
}

.contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.contenedor-general {
  margin-top: 165px; /* Ajusta el valor según la altura del menú */
  /* Otros estilos para el contenedor general */
}
/* Media query para pantallas más pequeñas */


.table-responsive  {
  background-color: #fff;
  border-bottom: none;
}

.table th td tbody thead tr{
  border: none;
}

@media (max-width: 475px) {
  .contenedor-general {
    padding-top: 120px;
  }
  
  .contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    background-color: #045959;
  }

  .btn-group-horizontal {
    display: flex;
    flex-direction: column;
  }
  
}


