.contenedor-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  background-color: #045959;
}
.contenedor-botones a{
  background-color: #045959;
  color: #fff;
  border: 1px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #045959;
  text-decoration: none;
}

.contenedor-botones a:hover{
  background-color: #afaeae2f;
}

.btn-group-horizontal {
  display: flex;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #045959;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #afaeae2f;
}

.btn:first-child {
  margin-right: auto;
}

.form-label {
  display: inline-block;
  color: #045959;
  padding: 5px 10px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 50%;
  border: none;
  border-bottom: 1px solid #045959;
  background-color: transparent;
  color: #045959;
  padding: 5px;
  transition: border-bottom-color 0.3s ease;
  cursor: text;
}

.form-control:hover,
.form-control:focus {
  outline: none;
  border-color: #079292;
}



/* Media query para pantallas más pequeñas */
@media (max-width: 475px) {
  .contenedor-general {
    padding-top: 120px;
  }
  
  .contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    background-color: #045959;
  }

  .btn-group-horizontal {
    display: flex;
    flex-direction: column;
  }
  
}


