.contenedor-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  background-color: #045959;
}
.contenedor-botones a{
  background-color: #045959;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #045959;
  text-decoration: none;
}

.contenedor-botones a:hover{
  background-color: #afaeae2f;
}

.btn-group-horizontal {
  display: flex;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #045959;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #afaeae2f;
}

.btn:first-child {
  margin-right: auto;
}


