@import '~@fortawesome/fontawesome-free/css/all.css';
nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.li-r {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li  {
  text-decoration: none;
  color: black;
  font-size: 15px;
  transition: color 0.3s ease;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.logo-image {
  max-width: 250px;
  height: auto;
}


.log-a {
  display: flex;
  align-items: center;
  background-color: #045959;
  color: white;
  border: 1px solid #045959;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.log-a:hover {
  background-color: #fff;
  color: #045959;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#lastname_usuario {
  color: #045959; /* Cambia "red" al color deseado */
  display: inline; /* Mantiene el elemento en la misma línea */
  font-weight: bold;
}

.raw-l {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}