<footer class="footer">

    <p>REDES SOCIALES</p>

<div class="social-icons">
<a href="#" class="social-icon"><img src="./assets/baseline-facebook.svg" alt="Facebook" class="social-display"></a>
<a href="#" class="social-icon"><img src="./assets/twitter.svg" alt="twitter" class="social-display"></a>
<a href="#" class="social-icon"><img src="./assets/linkedin.svg" alt="linkedin" class="social-display"></a>
<a href="#" class="social-icon"><img src="./assets/youtube.svg" alt="youtube" class="social-display"></a>
</div>
<p>© 2023 Salesland. Todos los derechos reservados.</p>
<img src="./assets/flag-ecuador.svg" class="flag">
</footer>