<footer class="footer">
    <div class="social-icons">
        <div>
            
        </div>
        <div>
            <p>REDES SOCIALES</p>
            <a href="#" class="social-icon"><img src="./assets/baseline-facebook.svg" alt="Facebook"
                    class="social-display"></a>
            <a href="#" class="social-icon"><img src="./assets/twitter.svg" alt="twitter" class="social-display"></a>
            <a href="#" class="social-icon"><img src="./assets/linkedin.svg" alt="linkedin" class="social-display"></a>
            <a href="#" class="social-icon"><img src="./assets/youtube.svg" alt="youtube" class="social-display"></a>

        </div>
        <div>
            <p>© 2023 Salesland. Todos los derechos reservados.</p>
            <img src="./assets/flag-ecuador.svg" class="flag">
        </div>
        <div>

        </div>
    </div>

</footer>