<body> 
  <div id="containerInicio" class="card containerInicio">    
    <p></p>
    <div class="button-group">
      <button (click)="goToExternalLinkVacaciones()">Vacaciones<br><i class="fas fa-umbrella-beach fa-4x"></i> </button>      
      <button (click)="navigateToenConstruccion()">Soporte<br><i class="fas fa-headset fa-4x"></i> </button>
      <button (click)="navigateToenConstruccion()">Postulate<br><i class="fas fa-file-alt fa-4x"></i> </button>
      <button (click)="navigateToenConstruccion()">Rol de pagos<br><i class="fas fa-money-check-alt fa-4x"></i></button>
      <button (click)="goToExternalLinkCampusSalesland()">Campus Salesland<br><i class="fas fa-university fa-4x"></i> </button>
      <button *ngIf="centroCostoFlag" (click)="navigateToSeguros()">Seguro Médico<br><i class="fas fa-hospital fa-4x"></i> </button>
      <button (click)="navigateToViajes()">Viajes<br><i class="fas fa-plane-departure fa-4x"></i></button>
      <button (click)="goToExternalLinkControlnet()">Control Net<br><i class="fas fa-wifi fa-4x"></i></button>
      <button (click)="goToExternalLinkAracne()">ARACNE<br><i class="fas fa-spider fa-4x"></i></button>      
    </div>
    <br> 
  </div>    
</body>
