<div class="card">    
    <div class="card-header">        
        <a class="btn btn-warning"(click)="exportToCSV()" role="button">EXPORT  TO CSV</a>
    </div>
              
    <div class="card-body">
        <h1>VENTAS POR PUNTO DE VENTA </h1>
        <div class="table-responsive">            
            <table class="table table-primary">                
                <thead>
                    <tr >
                        <td scope="col" *ngFor="let cabecera of Cabeceras; let iControl=index" class=""><strong>{{cabecera}}</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rows of Consultas ; let iControl=index" class="[ng-class]">
                        <td *ngFor="let varB of Ejecuciones; let iControl=index" class="">{{rows[varB]}}</td>
                    </tr>                    
                </tbody>
            </table>
        </div>        
    </div>    
</div>
