<div class="header">
    <h1>Cabecera de la página</h1>
  </div>
  <div class="content">
    <img src="./assets/alianza salesland.jpg" alt="Icono" class="icon-image-publicacion">
    <h2>Texto centrado</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus elit eget risus fringilla lacinia. Fusce tincidunt quam a odio feugiat ultricies. Sed bibendum metus eget mauris lacinia, eget tempor felis fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean dictum posuere rhoncus. Donec aliquam libero et arcu porttitor, a commodo ligula sollicitudin. Nunc ultrices nibh eu tincidunt venenatis.</p>
</div>
 