<form [formGroup]="formularioDeVacacion">
    <div class="card"> 
        <div class="card-header">
            <H1>HISTORIAL VACACIONES</H1> 
        </div>        
    </div>
    <div class="card-header ">
        <div class="card-header d-flex justify-content-end">
            <a *ngIf="false" class="btn btn-success mr-2" routerLink="/agregar-candidato/" >AGREGAR NUEVO CANDIDATO</a>
            <a class="btn btn-warning" (click)="exportToCSV()" role="button" >EXCEL</a>
        </div>
       
        <div class="card-body">
        <div class="table-responsive">
            <ngx-datatable
            class="bootstrap"
            [rows]="Vacaciones"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarH]="true"
            [scrollbarV]="true"
            [sorts]="[{prop: 'id_vacaciones', dir: 'asc'}]"
            [externalPaging]="true"
            [count]="totalRecords"
            [offset]="offset"
            [limit]="perPage"
            (page)="setPage($event.offset, $event.pageSize)"
            >
            <!-- Define your columns here -->
            <ngx-datatable-column name="ID VACACIONES" prop="id_vacaciones"></ngx-datatable-column>
            <ngx-datatable-column name="NOMBRE" prop="nombre"></ngx-datatable-column>
            <ngx-datatable-column name="APELLIDO" prop="apellido"></ngx-datatable-column>
            <ngx-datatable-column name="FECHA SOLICITUD" prop="fecha_solicitud"></ngx-datatable-column>
            <ngx-datatable-column name="FECHA INICIO VACACIONES" prop="fecha_inicio_vacaciones"></ngx-datatable-column>
            <ngx-datatable-column name="FECHA FIN VACACIONES" prop="fecha_fin_vacaciones"></ngx-datatable-column>
            <ngx-datatable-column name="FECHA RESPUESTA" prop="fecha_respuesta"></ngx-datatable-column>
            <ngx-datatable-column name="DIAS LABORABLES SOLICITADOS" prop="dias_lab_solicitados"></ngx-datatable-column>
            <ngx-datatable-column name="DIAS DISPONIBLES ACUMULADOS" prop="dias_disponibles_acum"></ngx-datatable-column>
            <ngx-datatable-column name="STATUS" prop="status"></ngx-datatable-column>
            <ngx-datatable-column name="PETICION" prop="peticion"></ngx-datatable-column>
            <ngx-datatable-column name="OBSERVACIONES" prop="observaciones"></ngx-datatable-column>
            <ngx-datatable-column name="MOTIVO" prop="motivo"></ngx-datatable-column>
            <ngx-datatable-column name="ACCIONES">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
                <a *ngIf="false" class="btn btn-danger" style="width: 100%;" (click)="solicitarCancelacion(row.id_vacaciones, rowIndex)" role="button">SOLICITAR CANCELACIÓN</a>
                </ng-template>
            </ngx-datatable-column>
            </ngx-datatable>
        </div>
        </div>
          
            
    </div>
</form>

