<head>
  <meta charset="UTF-8">
  <title>Salesland Ecuador</title>
  <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
  <div class="container">
    <h1>Salesland Ecuador<p></p><button><a routerLink="/home" href="#">LOG OUT</a></button></h1>
    
    <div class="button-group">
      <button (click)="goToExternalLinkVacaciones()"><i class="fas fa-umbrella-beach"></i> Vacaciones</button>      
      <button><i class="fas fa-headset"></i> Soporte</button>
      <button><i class="fas fa-file-alt"></i> Postulate</button>
      <button><i class="fas fa-money-check-alt"></i> Rol de pagos</button>
      <button (click)="goToExternalLinkCampusSalesland()"><i class="fas fa-university"></i> Campus Salesland</button>
      <button (click)="navigateToSeguros()"><i class="fas fa-hospital"></i> Seguro Médico</button>
      <button (click)="navigateToViajes()"><i class="fas fa-plane-departure"></i> Viajes</button>
      <button (click)="goToExternalLinkControlnet()"><i class="fas fa-wifi"></i> Control Net</button>
      <button (click)="goToExternalLinkAracne()"><i class="fas fa-spider"></i> ARACNE</button>
    </div>
    <br>    
       
  </div>
</body>
