<div class="card">
    <div class="card-header">
        EDITAR CENTRO DE COSTO
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioCentroCosto" (ngSubmit)="enviarDatos()" >
                        
            <div class="mb-3">
                <label for="" class="form-label">ID CENTRO DE COSTO</label>
                <input required type="text"
                  class="form-control" name="id_centro_costo" formControlName="id_centro_costo"  id="" aria-describedby="helpId" placeholder="Escribe tu id de centro de costo" required>
              </div>
            
            <div class="mb-3">
                <label for="" class="form-label">NOMBRE CENTRO</label>
                <input required type="text"
                  class="form-control" name="nombre_centro" formControlName="nombre_centro" id="" aria-describedby="helpId" placeholder="Escribe tu nombre de centro" required>
              </div>
            
            <div class="mb-3">
                <label for="" class="form-label">TIENDA</label>
                <input required type="text"
                  class="form-control" name="tienda" formControlName="tienda" id="" aria-describedby="helpId" placeholder="Escribe tu tienda" required>
              </div>
            
            <div class="mb-3">
                <label for="" class="form-label">CUENTA</label>
                <input required type="text"
                  class="form-control" name="cuenta" formControlName="cuenta" id="" aria-describedby="helpId" placeholder="Escribe tu cuenta" required>
              </div>

            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="submit" class="btn btn-warning">MODIFICAR REGISTRO</button>
                <button type="button" routerLink="/menu" class="btn btn-primary">CANCELAR</button>                
            </div>

        </form>
    </div>
    
</div>

