@import '~@fortawesome/fontawesome-free/css/all.css';
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li a {
  display: block;
  float: right;
  text-decoration: none;
  font-size: 15px;
}

.left-ul {
  float: left;
}

.right-ul {
  float: right;
}

.logo-image {
  display: block;
  float: left;
  width: 185px;
  margin-right: 20px;
}

.li-r {
  display: block;
  float: right;

}

.flag {
  width: 35px; /* Ancho deseado */
  height: 40px; /* Alto deseado */
}

.log-a {
  display: block;
  float: right;
  background-color: #045959;
  color: white;
  border: 1px solid #045959;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}


.log-a:hover {
  background-color: #fff;
  color: #045959;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


/* Responsive styles for smaller screens */

@media (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .li-r {
    display: block;
    float: right;
    margin-top: 10px;
  }

  .li-r:last-child {
    margin-bottom: 10px;
  }

  .log-a {
    float: none;
  }
}

/* Styles for normal screens */

@media (min-width: 769px) {
  .left-ul {
    float: left;
  }

  .right-ul {
    float: right;
  }

  .logo-image {
    margin-right: 20px;
  }

  .li-r {
    display: block;
    float: right;
  }

  .flag {
    float: right;
  }
}