<form [formGroup]="control_vistas">    
        <div class="wrapper">    
            <div  class="body" >
                <div style="text-align: center; justify-content: center; align-items: center;  ">                
                    <img src="./assets/SALESLAND2.jpg" class="center redimension1" >            
                </div>                               
                <div>    
                    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #16261C;"> 
                        <div class="navbar-left">  
                            <a class="nav-item nav-link active" (onclick)="goToMenuBotones()" routerLink="/menuBotones" href="#">HOME</a>
                        </div> 
                        
                        <div class="navbar-center">
                            <div *ngIf="rolVacations" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button *ngIf="rolVacations" (click)="menuVacaciones2(1)" type="button" class="btn btn-primary">1.INGRESO</button>
                                <button *ngIf="rolVacations" (click)="menuVacaciones2(2)" type="button" class="btn btn-primary">2.SOLICITUDES</button>
                            </div>
                            <div *ngIf="rolPersonal" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button *ngIf="rolPersonal" (click)="menuPersonal2(1)" type="button" class="btn btn-primary">1.APROBACIÓN SOLICITUDES</button>
                                <button *ngIf="rolPersonal" (click)="menuPersonal2(2)" type="button" class="btn btn-primary">2.REPORTE GRÁFICO</button>
                            </div>   
                            <div *ngIf="rolReportes" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button *ngIf="rolReportes" (click)="menuReportes2(1)" type="button" class="btn btn-primary">1.USUARIO</button>
                                <button *ngIf="rolReportes" (click)="menuReportes2(2)" type="button" class="btn btn-primary">2.CANDIDATO</button>
                                <button *ngIf="rolReportes" (click)="menuReportes2(3)" type="button" class="btn btn-primary">3.CARGO</button>
                                <button *ngIf="rolReportes" (click)="menuReportes2(4)" type="button" class="btn btn-primary">4.CENTRO COSTO</button>
                                <button *ngIf="rolReportes" (click)="menuReportes2(5)" type="button" class="btn btn-primary">5.CONTRATO</button>
                                <button *ngIf="rolReportes" (click)="menuReportes2(6)" type="button" class="btn btn-primary">6.EXPERIENCIA LABORAL</button>
                            </div>   

                            <div *ngIf="false">
                                <div  *ngIf="true" >
                                    <select *ngIf="rolVacations" (click)="menuVacaciones()"  formControlName="stateVacaciones" class="form-select form-select-sm selectStyle" aria-label=".form-select-sm example">
                                        <option selected>VACACIONES</option>
                                        <option *ngIf="rolVacations" value="1">1.INGRESO</option>  
                                        <option *ngIf="rolVacations" value="2">2.SOLICITUDES</option>                                 
                                        </select>                  
                                </div>
                                <div *ngIf="true" >
                                    <select *ngIf="rolPersonal" (click)="menuPersonal()" formControlName="statePersonal" class="form-select form-select-sm selectStyle" aria-label=".form-select-sm example">
                                        <option selected>PERSONAL</option>                                   
                                        <option *ngIf="rolPersonal" value="1">1.APROBACIÓN SOLICITUDES</option> 
                                        <option *ngIf="rolPersonal" value="2">2.REPORTE GRÁFICO</option>                              
                                        </select>                  
                                </div>
                                <div *ngIf="true" >
                                    <select *ngIf="rolReportes" (click)="menuReportes()" formControlName="stateReportes"  class="form-select form-select-sm selectStyle" aria-label=".form-select-sm example" >
                                        <option  selected>REPORTES</option>
                                        <option *ngIf="rolReportes" value="1" >1.USUARIO</option> 
                                        <option *ngIf="rolReportes" value="2" >2.CANDIDATO</option>   
                                        <option *ngIf="rolReportes" value="3" >3.CARGO</option>
                                        <option *ngIf="rolReportes" value="4" >4.CENTRO COSTO</option>  
                                        <option *ngIf="rolReportes" value="5" >5.CONTRATO</option>  
                                        <option *ngIf="rolReportes" value="6" >6.EXPERIENCIA LABORAL</option> 
                                        </select>                  
                                </div>
                            </div>
                        </div>
                        <div class="navbar-right">                            
                            <div >
                                <div>                                    
                                    <label >NOMBRE:</label>
                                    <input type="text" id="name_usuario" formControlName="name_usuario" class="my-input textCenter" style="background-color: #16261C; color: white;">
                                </div>
                                <div>
                                    <label >APELLIDO:</label>
                                    <input type="text" id="lastname_usuario" formControlName="lastname_usuario" class="my-input textCenter" style="background-color: #16261C; color: white;">
                                </div>    
                                <div>    
                                    <label >CEDULA:</label>
                                    <input type="text" id="cedula" formControlName="cedula" class="my-input textCenter" style="background-color: #16261C; color: white;">
                                </div>
                                <div>    
                                    <label >CUENTA:</label>
                                    <input type="text" id="cuenta" formControlName="cuenta" class="my-input textCenter" style="background-color: #16261C; color: white;">
                                </div>
                            </div>                                
                        </div>
                        <div  class="navbar-left">
                            <a class="nav-item nav-link active" href="#" aria-current="page">CERRAR SESIÓN <span class="visually-hidden">(current)</span></a>
                        </div>
                    </nav>
                </div>
            </div>    
        </div>
        <div  id="router-outlet">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="nombreVentana === 'INGRESO-VACACION'" >
            <app-agregar-vacacion></app-agregar-vacacion>
        </div>
        <div *ngIf="nombreVentana === 'REPORTE-PERSONAL'" >
            <app-listar-vacaciones></app-listar-vacaciones>
        </div>
        <div *ngIf="nombreVentana === 'REPORTE-GENERAL-VACACIONES-PERSONAL'" >
            <app-listar-reporte-general-personal></app-listar-reporte-general-personal>
        </div>
        <div *ngIf="nombreVentana === 'REPORTE-GENERAL-VACACIONES-SUPERVISOR'" >
            <app-listar-reporte-general-supervisor></app-listar-reporte-general-supervisor>
        </div>    
        <div *ngIf="nombreVentana === 'PERSONAL'" >
            <app-listar-personal></app-listar-personal>
        </div>
        <div *ngIf="nombreVentana === 'USUARIO'" >
            <app-listar-usuarios></app-listar-usuarios>
        </div>
        <div *ngIf="nombreVentana === 'CANDIDATO'" >
            <app-listar-candidatos></app-listar-candidatos>
        </div>
        <div *ngIf="nombreVentana === 'CARGOS'" >
            <app-listar-candidatos></app-listar-candidatos>
        </div>
        <div *ngIf="nombreVentana === 'CENTRO-COSTO'" >
            <app-listar-centros-costos></app-listar-centros-costos>
        </div>
        <div *ngIf="nombreVentana === 'CONTRATO'" >
            <app-listar-contratos></app-listar-contratos>
        </div>
        <div *ngIf="nombreVentana === 'EXPERIENCIA-LABORAL'" >
            <app-listar-experiencias-laborales></app-listar-experiencias-laborales>
        </div>    
        <div *ngIf="nombreVentana === 'REPORTE-GENERAL'" >
            <app-reporte-general></app-reporte-general>
        </div>     
</form>

