<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Landing Page de Salesland Ecuador</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<header>
  <app-menu-inicio></app-menu-inicio>
</header>
<body>
  <main>
    <section id="CarouselInicio">
      <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner elemento1">
          <div class="carousel-item active" data-bs-interval="2000">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          
          <div class="carousel-item elemento2" data-bs-interval="2000">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item elemento3" data-bs-interval="2000">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>         
    </section>
    <div class="container">
      <div class="content">
        <h1>Bienvenido a Salesland Ecuador</h1>
        <p>Somos una empresa en busca de ser lideres en el mercado de ventas y marketing.</p>
      </div>
      <div class="content">
        <h1>Servicios que ofrecemos</h1>
        <p>Ventas directas</p>
        <p>Telemarketing</p>  
        <p>Promociones y eventos</p>
      </div>
      <div class="content">
        <h1>Sobre nosotros</h1>
        <p>Salesland Ecuador es una empresa multinacional con presencia en varios países. Nuestro objetivo es ayudar a las empresas a alcanzar sus metas de ventas y marketing.</p>
      </div>
    </div>
    
  </main>

</body>

</html>