<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Landing Page de Salesland Ecuador</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<header>
  <app-home-inicio></app-home-inicio>
</header>

<body>
  <main>
    <div class="carousel-container">>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/startup-594090_1920.jpg" class="elemento1" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/mision.jpg" class="elemento2" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/vision.jpg" class="elemento3" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="overlay-container">
      <div class="container">
        <div class="content">
          <h1>Salesland Ecuador</h1>
          <p>Somos una empresa en busca de ser lideres en el mercado de ventas y marketing.</p>
        </div>
        <div class="content">
          <h1>Servicios que ofrecemos</h1>
          <ul>
            <li>Ventas directas</li>
            <li>Telemarketing</li>
            <li>Promociones y Eventos</li>
          </ul>
        </div>
        <div class="content">
          <h1>Sobre nosotros</h1>
          <p>Salesland Ecuador es una empresa multinacional con presencia en varios países. Nuestro objetivo es ayudar a
            las empresas a alcanzar sus metas de ventas y marketing.</p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>