<div class="card">
    <div class="card-header">
        <a class="btn btn-success" routerLink="/agregar-experiencia-laboral/" >AGREGAR NUEVA EXPERIENCIA LABORAL</a>
        <a class="btn btn-warning"(click)="exportToCSV()" role="button">EXPORT  TO CSV</a>
    </div>
    <div class="card-body">
        <h1> Lista de Experiencias Laborales </h1>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID EXPERIENCIA LABORAL</th>
                        <th scope="col">CEDULA</th>
                        <th scope="col">NOMBRE EXPERIENCIA</th>
                        <th scope="col">TIEMPO EXPERIENCIA (%)</th>
                        <th scope="col">ESTUDIOS UNIVERSITARIOS (%)</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let experienciaLaboral of ExperienciasLaborales; let iControl=index" class="">
                        <td scope="row">{{experienciaLaboral.id_experiencia_laboral}}</td>
                        <td>{{experienciaLaboral.cedula}}</td>
                        <td>{{experienciaLaboral.nombre_experiencia}}</td>
                        <td>{{experienciaLaboral.tiempo_experiencia}}</td>
                        <td>{{experienciaLaboral.estudios_universitarios}}</td>
                        <td>
                            <a class="btn btn-info" routerLink="/editar-experiencia-laboral/{{experienciaLaboral.id_experiencia_laboral}}" >EDITAR</a> 
                            
                            |
                            <a class="btn btn-danger"(click)="borrarRegistro(experienciaLaboral.id_experiencia_laboral,iControl)" role="button">BORRAR</a>                        
                    </tr>
                    
                </tbody>
            </table>
        </div>        
    </div>    
</div>

