<div class="card">
  <div class="card-header">
      AGREGAR PERSONAL
  </div>
  <div class="card-body">
      <form [formGroup]="formularioDeVacacion" (ngSubmit)="enviarDatos()">

        <div class="mb-3">
          <label for="" class="form-label">VACACIONES DISPONIBLES</label>
          <input type="text"
            class="form-control" name="vaca_disp" formControlName="vaca_disp" id="vaca_disp" aria-describedby="helpId" placeholder="15">
        </div>

        <div class="mb-3">
          <label for="" class="form-label">DIAS TOMADOS</label>
          <input type="text"
            class="form-control" name="dias_tomados" formControlName="dias_tomados" id="dias_tomados" aria-describedby="helpId" placeholder="0">
        </div>
        

        <div class="btn-group" role="group" aria-label="Button group name">
            <button type="submit" class="btn btn-success">INGRESAR</button>
            <button type="button" class="btn btn-primary">CANCELAR</button>
        </div>

      </form>
      
  
</div>

