<form [formGroup]="formularioDeVacacion" (ngSubmit)="enviarDatos()">
  <!-- <div class="card-body">
    <div *ngIf="false" class="table-responsive table-bordered table-striped">
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <TD>
              <div class="card-body etiqueta">
                <div class="mb-3">
                  <label for="" class="form-label">CALCULO VACACIONES</label>
                  <input type="text" class="form-control" name="vaca_disp" formControlName="vaca_disp" id="vaca_disp"
                    aria-describedby="helpId" placeholder="15">
                </div>
              </div>
            </TD>
            <TD>
              <div class="card-body etiqueta">
                <div class="mb-3">
                  <label for="" class="form-label">DÍAS DISPONIBLES</label>
                  <input type="text" class="form-control" name="saldo_dias" formControlName="saldo_dias" id="saldo_dias"
                    aria-describedby="helpId" placeholder="0">
                </div>
              </div>
            </TD>
            <TD>
              <div class="card-body etiqueta">
                <div class="mb-3">
                  <label for="" class="form-label">DÍAS TOMADOS</label>
                  <input type="text" class="form-control" name="dias_tomados" formControlName="dias_tomados"
                    id="dias_tomados" aria-describedby="helpId" placeholder="0">
                </div>
              </div>
            </TD>
            <TD>
              <div class="card-body etiqueta">
                <div class="mb-3">
                  <label for="" class="form-label">DÍAS EN SOLICITUDES PENDIENTES</label>
                  <input type="text" class="form-control" name="dias_solicitudes_pen"
                    formControlName="dias_solicitudes_pen" id="dias_solicitudes_pen" aria-describedby="helpId"
                    placeholder="0">
                </div>
              </div>
            </TD>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <h5>
    SOLICITUD DE VACACIÓN
  </h5>
  <div class="add-datos">
    <div class="container">            
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <div class="contenedor-datos">
                  <label for="" class="form-label">MOTIVO:</label>
                  <select name="motivo" id="motivo" formControlName="motivo" class="form-select"
                    aria-label=".form-select-sm example" (change)="obtenerMotivoSeleccionado($event)">
                    <option *ngFor="let motivo of Motivos; let i = index" [value]="motivo.nombre" >{{motivo.nombre}}</option>
                  </select>

                  <label for="dias_seleccionados" class="form-label">DÍAS SELECCIONADOS:</label>
                  <input type="text" class="form-control input-line" name="dias_seleccionados"
                    formControlName="dias_seleccionados" id="dias_seleccionados" aria-describedby="helpId"
                    placeholder="0">
                  

                  <label for="" class="form-label">FECHA INICIO:</label>
                  <input type="text" class="form-control input-line" name="lbl_inicio" formControlName="lbl_inicio"
                    id="lbl_inicio" aria-describedby="helpId" placeholder="0">

                  <label for="" class="form-label">FECHA FIN:</label>
                  <input type="text" class="form-control input-line" name="lbl_fin" formControlName="lbl_fin"
                    id="lbl_fin" aria-describedby="helpId" placeholder="0"> 
                  
                </div>
              </tr>
              <tr>                
                
                <div class="row">
                  <div class="contenedor-calendario">  
                    <i class="fas fa-calendar" (click)="openCalendar()"></i>                                  
                  </div>
                </div>
                
                <ng-template #calendarModal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Selecciona una fecha</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ngb-datepicker class="text etiqueta" (dateSelect)="onDateSelection($event)"
                      [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [markDisabled]="esFinDeSemana">
                      <ng-template #t let-date="date">
                        <span class="custom-day"
                              [class.range]="isRange(date)"
                              [class.selected]="isSelected(date)"
                              [class.hovered]="isHovered(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </ngb-datepicker>
                  </div>
                </ng-template>
                
                <ng-template [ngbModalOutlet]="calendarModal" [ngbModalOptions]="{ backdrop: 'static', keyboard: false }" *ngIf="showModal"></ng-template>
                
                    
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="btn-group" role="group" aria-label="Button group name">
      <button type="submit" class="btn" [disabled]="btnIngresar">AGREGAR</button>
    </div>
  </div>
</form>