.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #16261C;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(243, 238, 238);
  color: black;
}
.custom-day.faded {
  background-color: rgb(243, 238, 238);
}
.card{
  background-color: rgb(243, 238, 238);
  color: white;
}
.etiqueta{
  background-color: #16261C;
  color: white;
  text-align: center;
  align-items: center; 
  align-self: center;
}
.text{
  color: white;
  text-align: center;
  
  align-self: center;
}
.text2{
  background-color: white;
  color: #16261C;
  text-align: center;
  align-items: center; 
  align-self: center;
}
.calendar{
  width: 490px;
  height: 315px;  
  background-color: #16261C;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
