<form [formGroup]="formularioDeVacacion">
    <div class="card">
        
        <div class="card-body">
            <h1>TEST</h1>
            <div class="table-responsive">
                <table 
                mat-table [dataSource]="dataSourceA" class="table table-primary mat-elevation-z8"
                matSort #empTbSort="matSort" (matSortChange)="announceSortChange($event)">

                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                        <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
                    </ng-container> 
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef=" let row;  columns: displayedColumns;   "></tr>

                </table>
                <mat-paginator
                [pageSizeOptions]="[3, 5, 7]"
                showFirstLastButtons
                ></mat-paginator>
            </div>
                
        </div>
    </div>
</form>



