<form [formGroup]="formularioDeVacacion">
  <div class="contenedor-motivo">
    <label for="" class="form-label">MOTIVO</label>
    <input type="text" class="form-control" name="motivo" formControlName="motivo" id="motivo" aria-describedby="helpId"
      placeholder="ESCRIBA SU MOTIVO" required>
  </div>

    <div class="search-container">
      <input type="text" formControlName="searchKeyword" placeholder="Buscar..." (change)="filterVacaciones()">
      <button class="btn btn-primary" (click)="searchVacaciones()">Buscar</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th (click)="sort('id_vacaciones')">Id</th>
            <th (click)="sort('nombre')">Nombre</th>
            <th (click)="sort('apellido')">Apellido</th>
            <th (click)="sort('fecha_solicitud')">Fecha Solicitud</th>
            <th (click)="sort('fecha_inicio_vacaciones')">Inicio Vacaciones</th>
            <th (click)="sort('fecha_fin_vacaciones')">Fin Vacaciones</th>
            <th (click)="sort('fecha_respuesta')">Fecha Respuesta</th>
            <th (click)="sort('dias_lab_solicitados')">Días Solicitados</th>
            <th (click)="sort('dias_disponibles_acum')">Días Disponibles</th> 
            <th (click)="sort('saldo_dias_vacaciones')">Saldos días</th> 
            <th (click)="sort('status')">Estado</th>
            <th (click)="sort('peticion')">Petición</th>
            <th (click)="sort('observaciones')">Observaciones</th>
            <th (click)="sort('motivo')">Motivo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of pagedVacaciones; let iControl=index">
            <td>{{ row.id_vacaciones }}</td>
            <td>{{ row.nombre }}</td>
            <td>{{ row.apellido }}</td>
            <td>{{ row.fecha_solicitud }}</td>
            <td>{{ row.fecha_inicio_vacaciones }}</td>
            <td>{{ row.fecha_fin_vacaciones }}</td>
            <td>{{ row.fecha_respuesta }}</td>
            <td>{{ row.dias_lab_solicitados }}</td>
            <td>{{ row.dias_disponibles_acum }}</td> 
            <td>{{ row.saldo_dias_vacaciones }}</td> 
            <td>{{ row.status }}</td>
            <td>{{ row.peticion }}</td>
            <td>{{ row.observaciones }}</td>
            <td>{{ row.motivo }}</td>
            <td>
              <ng-container class="contenedor-acciones">
                <a *ngIf="row.status === 'pendiente'" class="btn btn-success"
                  (click)="AceptarRegistro(row.id_vacaciones,iControl)" role="button"><img src="./assets/check.svg"
                    alt=""></a>
                <a *ngIf="row.status === 'pendiente'" class="btn btn-danger"
                  (click)="RechazarRegistro(row.id_vacaciones,iControl)" role="button"><img src="./assets/x.svg"
                    alt=""></a>                
              </ng-container>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-container">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(1)" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(totalPages)" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>

  <div class="card-header d-flex justify-content-center">
    <a *ngIf="false" class="btn btn-success" routerLink="/agregar-candidato/">AGREGAR NUEVO CANDIDATO</a>
    <a class="btn btn-warning" (click)="exportToCSV()" role="button">Exportar a CSV</a>
  </div>
</form>