<div class="card">
    <div class="card-header">
        <a class="btn btn-success" routerLink="/agregar-centro-costo/" >AGREGAR NUEVO CENTRO  DE COSTO</a>
        <a class="btn btn-warning"(click)="exportToCSV()" role="button">EXPORT  TO CSV</a>
    </div>
    <div class="card-body">
        <h1> Lista de Centros de Costos </h1>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID CENTRO COSTO</th>
                        <th scope="col">NOMBRE CENTRO COSTO</th>
                        <th scope="col">TIENDA</th>
                        <th scope="col">CUENTA</th>                        
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let centrocosto of Centrocostos; let iControl=index" class="">
                        <td scope="row">{{centrocosto.id_centro_costo}}</td>
                        <td>{{centrocosto.nombre_centro}}</td>
                        <td>{{centrocosto.tienda}}</td>
                        <td>{{centrocosto.cuenta}}</td>                        
                        <td>
                            <a class="btn btn-info" routerLink="/editar-centro-costo/{{centrocosto.id_centro_costo}}" >EDITAR</a>  
                            
                            |
                            <a class="btn btn-danger"(click)="borrarRegistro(centrocosto.id_centro_costo,iControl)" role="button">BORRAR</a>                    
                    </tr>
                    
                </tbody>
            </table>
        </div>        
    </div>    
</div>
