<div class="card">
    <div class="card-header">
        AGREGAR PERSONAL
    </div>
    <div class="card-body">
        <form [formGroup]="formularioDePersonal" (ngSubmit)="enviarDatos()">

          <div class="mb-3">
            <label for="" class="form-label">ID CENTRO COSTO</label>
            <input type="text"
              class="form-control" name="id_centro_costo" formControlName="id_centro_costo" id="" aria-describedby="helpId" placeholder="Escribe el id de centro de costo">
          </div>

          <div class="mb-3">
            <label for="" class="form-label">CEDULA</label>
            <input type="text"
              class="form-control" name="cedula" formControlName="cedula" id="" aria-describedby="helpId" placeholder="Escribe la cédula sin espacios ni guines (1724158405)">
          </div>

          <div class="mb-3">
              <label for="" class="form-label">STATUS</label>
              <input type="text"
                class="form-control" name="status" formControlName="status" id="" aria-describedby="helpId" placeholder="Escribe el status">
            </div>
          
          <div class="mb-3">
            <label for="" class="form-label">ADENDUM CONTRATO</label>
            <input type="text"
              class="form-control" name="adendum_contrato" formControlName="adendum_contrato" id="" aria-describedby="helpId" placeholder="Escribe el adendum de contrato">
          </div>

          <div class="mb-3">
              <label for="" class="form-label">ID CONTRATO</label>
              <input type="text"
                class="form-control" name="id_contrato" formControlName="id_contrato" id="" aria-describedby="helpId" placeholder="Escribe el id del contrato">
            </div>

          <div class="mb-3">
              <label for="" class="form-label">ID CARGO</label>
              <input type="text"
                class="form-control" name="id_cargo" formControlName="id_cargo" id="" aria-describedby="helpId" placeholder="Escribe el id de cargo">
            </div>

          <div class="btn-group" role="group" aria-label="Button group name">
              <button type="submit" class="btn btn-success">AGREGAR</button>
              <button type="button" class="btn btn-primary">CANCELAR</button>
          </div>

        </form>
    </div>
    
</div>
